<!--add_20170930_by_xinyufeng_start 售罄样式-->
<style>
  .widgets-goods-like .pro-list-grid .thumbnail .soldout img {
    width: 6rem !important;
    height: 6rem !important;
    position: absolute;
    bottom: 6.4rem;
    right: 0.1rem;
  }

  .pro-list-grid li .thumbnail .caption{
	height:auto;
	padding:0.2rem 0.4rem 0.4rem 0.2rem;
  }
</style>
<!--add_20170930_by_xinyufeng_end-->

<div class="section-title" <{if $shopdata.bg_color}>style="background:<{$shopdata.bg_color}>"<{/if}>>
  <div class="title-txt" style="text-align: center;"><{$widgetDetail.params.title}></div>
</div>
<ul class="pro-list-grid" <{if $shopdata.bg_color}>style="background:<{$shopdata.bg_color}>"<{/if}>>
  <{foreach from=$widgetDetail.showitems.list item=item}>
  <li>
    <div class="thumbnail" style="position: relative;">
      <div class="thumb-img item-itemfiximage">
        <a class="shopex-linkto" href="<{url action=topwap_ctl_item_detail@index item_id=$item.item_id}>">
			<{if $item.right_logo}>
            <img style="position:absolute;left:0.3rem;top:0;width:2rem;height:2rem;"  class="imglazyload" data-original="<{$item.right_logo|storager:t}>" alt="">
			<{/if}>
          <{if $item.image_default_id}>
          <img  class="imglazyload itemfixlistimage" data-original="<{$item.image_default_id|storager:'t'}>" alt="">
          <{else}>
          <img  class="imglazyload itemfixlistimage" data-original="<{$defaultImageId.M.default_image|storager:'t'}>" alt="">
          <{/if}>
        </a>
      </div>
      <div class="caption">
        <h1 class="goods-title"><{if $item.activity}><!--<span class="tag"><{$item.activity.activity_tag}></span>--><{/if}><{$item.title}></h1>
        <div class="price">
          <div class="amount"><{$item.price|cur}></div>
		  <!--modify_20171013_by_xinyufeng_start-->
		  <{if $shopdata.show_stock_way ==1}>
          <div class="purchased">剩余<{$item.real_store}>件</div>
		  <{elseif $shopdata.show_stock_way ==2}>
		  <div class="purchased">销量<{$item.paid_quantity}>件</div>
		  <{else}>
		  <div class="purchased"></div>
		  <{/if}>
		  <!--modify_20171013_by_xinyufeng_end-->
        </div>
      </div>

      <!--add_20170930_by_xinyufeng_start 售罄图片-->
      <{if ($item.store-$item.freez) < 1 }>
      <!-- 已售罄 -->
      <div class="soldout">
        <img  class="imglazyload" data-original="<{$sell_out_img|storager}>" alt="">
      </div>
      <{/if}>
      <!--add_20170930_by_xinyufeng_end-->
    </div>
  </li>
  <{/foreach}>
</ul>
<div class="section-title" <{if $shopdata.bg_color}>style="background:<{$shopdata.bg_color}>"<{/if}>>
  <div class="more-link">
    <!--del_20171009_by_fanglongji_start
    <a href="<{url action=topwap_ctl_newshop@shopItemList shop_id=$shopId item_id=$widgetDetail.itemIds}>">查看更多</a>
    <i class="bbc-icon bbc-icon-forward"></i>
    del_20171009_by_fanglongji_end-->
  </div>
</div>
<script>
$(function(){
	var itemFixHieght = $('.item-itemfiximage').width();
	$('.itemfixlistimage').css({'height':itemFixHieght});
})
</script>