<div id="footer">
    <div class="wrap-footer">
        <div class="quality">
            <dl>
                <dt><img src="/app/topshop/mall/statics/images/common/yuan.png" alt=""></dt>
                <dd>
                    <p>海量优质货源</p>
                    <span>为商家提供一站式货源服务</span>
                </dd>
            </dl>
            <dl>
                <dt><img src="/app/topshop/mall/statics/images/common/xiao.png" alt=""></dt>
                <dd>
                    <p>高效率代销工具</p>
                    <span>自动分账、订单回流、库存同步</span>
                </dd>
            </dl>
            <dl class="lastdl">
                <dt><img src="/app/topshop/mall/statics/images/common/tui.png" alt=""></dt>
                <dd>
                    <p>超强服务保障</p>
                    <span>一件代发 极速发货 买退无忧</span>
                </dd>
            </dl>
        </div>
        <div class="rules">
            <div class="rules-logo"><a href="javascript:;"><img src="/app/topshop/mall/statics/images/common/logo.png" alt=""></a></div>
            <div class="rules-rule">
                <ul class="sale">
                    <li class="title">买家指南</li>
                    <li><a href="javascript:;" target="_blank" rel="noopener noreferrer">如何申请入驻关系</a></li>
                    <li><a href="javascript:;" target="_blank" rel="noopener noreferrer">如何一键上传店铺</a></li>
                    <li><a href="javascript:;" target="_blank" rel="noopener noreferrer">如何使用本平台</a></li>
                </ul>
                <ul class="saler">
                    <li class="title">卖家指南</li>
                    <li><a href="javascript:;" target="_blank" rel="noopener noreferrer">找供应商</a></li>
                    <li><a href="javascript:;" target="_blank" rel="noopener noreferrer">找供应商</a></li>
                </ul>
                <ul class="saft">
                    <li class="title">交易安全</li>
                    <li><a href="javascript:;" target="_blank" rel="noopener noreferrer">买家防骗</a></li>
                    <li><a href="javascript:;" target="_blank" rel="noopener noreferrer">交易纠纷</a></li>
                    <li><a href="javascript:;" target="_blank" rel="noopener noreferrer">投诉举报</a></li>
                    <li><a href="javascript:;" target="_blank" rel="noopener noreferrer">交易维权攻略</a></li>
                </ul>
            </div>
            <div class="rules-icon">
                <dl>
                    <dt><img src="/app/topshop/mall/statics/images/common/register.png" alt=""></dt>
                    <dd>供应商入驻</dd>
                </dl>
                <dl>
                    <dt><img src="/app/topshop/mall/statics/images/common/TVPLAZA.png" alt=""></dt>
                    <dd>TVPLAZA</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="technology">Copyright © 2018 广电优选 版权所有</div>
</div>
<div id="scrollTop">
    <a href="<{url action=topshop_ctl_mall_admin_list@index}>" target="_blank">
        <div class="shopcart">
            <i class="count"><{$initItemsNum}></i>
        </div>
    </a>
    <div class="totop"></div>
</div>