<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><{$title}></title>
    <link rel="stylesheet" href="/app/topshop/mall/statics/lib/common/public.css">
    <link rel="stylesheet" href="/app/topshop/mall/statics/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/app/topshop/mall/statics/lib/swiper2/idangerous.swiper.css">
    <link rel="stylesheet" href="/app/topshop/mall/statics/css/styleSheet.css">
    <style>
        #header .wrap-nav{
            background: #53c0eb;
        }
        #header .wrap-nav .nav .allkind{
            background: #2895db;
        }
        #header .wrap-nav .nav .subnav li a{
            color: #fff;
        }
        #header .wrap-nav .nav .subnav li:hover a{
            color: #2895db;
        }
        .common-category .inner .category ul.category-ul li.category-ul-li .arrows{
            border: 1px solid #333;
            border-right: 0;
            border-top: 0;
        }
        .common-category .inner .category ul.category-ul{
            color: #333;
        }
        .common-category .inner .category ul.category-ul li.category-ul-li{
            background: #fff;
        }
        .common-category .inner .category ul.category-ul li.category-ul-li:hover{
            background: #2895db;
            color: #fff;
        }
        .common-category .inner .category ul.category-ul li.category-ul-li:hover .arrows{
            border: 1px solid #fff;
            border-right: 0;
            border-top: 0;
        }
        .common-category .inner .category ul.category-ul li.category-ul-li:hover .category-detail-part li:hover a{
            color: #2895db;
        }
		
        #header .search{
            width: 630px;
        }
        #header .search .searchThis{
            background: #6f6f6f;
            color: #fff;
        }
        #header .search .searchThis:hover{
            background: #6f6f6f;
        }
    </style>
</head>

<body>
    <div id="header">
        <div class="wrap">
            <div class="top">
                <span>欢迎来到广电优选</span>
                <span><{$login_shop['shop_name']}></span>
            </div>
        </div>
        <div class="logo-box">
            <div class="logo">
                <a href="<{url action=topshop_ctl_mall_home@index}>">
                    <img src="/app/topshop/mall/statics/images/common/logo.png" alt="">
                </a>
            </div>
            <div class="search">
                <label for="">
                    <input type="text" id="searchIpt" name="title"  placeholder="请输入关键字" />
					<!--<a href="javascript: searchEvent();">搜索</a>-->
					
                    <a href="javascript: searchEvent();" class="searchAll">搜全站</a>
                    <a href="javascript: searchShop();" class="searchThis">搜本店</a>
					<script>
						function searchEvent() {
							var title = $('#searchIpt').val();
							var searchUrl = '<{url action=topshop_ctl_mall_list@index}>';
							if(title != '')
							{
								searchUrl += '?title=' + title;
							}
							location.href = searchUrl;
						}
						
						function searchShop() {
							var title = $('#searchIpt').val();
							var searchUrl = '<{url action=topshop_ctl_mall_shop@index shop_id=$_GET['shop_id']}>';
							if(title != '')
							{
								searchUrl += '&title=' + title;
							}
							location.href = searchUrl;
						}
					</script>
                </label>
                <div class="search-list">
                    <span class="title">大家都在搜：</span>
                    <ul>
						<li><a href="<{url action=topshop_ctl_mall_list@index title=红酒}>">红酒</a></li>
						<li><a href="<{url action=topshop_ctl_mall_list@index title=汤臣倍健}>">汤臣倍健</a></li>
						<li><a href="<{url action=topshop_ctl_mall_list@index title=五粮液}>">五粮液</a></li>
                    </ul>
                </div>
            </div>
			<a href="<{url action=topshop_ctl_mall_admin_list@index}>" class="shopCar" target="_blank">
				<span>进入选货列表</span>
				<i class="count"><{$initItemsNum}></i>
			</a>
        </div>
        <div class="pc-store-header">
            <div class="header-left">
                <img src="<{$setting.signs}>" alt="">
            </div>
            <ul class="header-list">
				<{foreach from=$tj_item item=item}>
                <li>
                    <div class="header-list-left">
                        <a href="<{url action=topshop_ctl_mall_detail@index item_id=$item.item_id}>"><img src="<{$item.image_default_id|storager:m}>" alt=""></a>
                    </div>
					<div class="header-list-right">
                        <p class="right-price1">供货价：<i><{$item.supply_price|cur}></i></p>
                        <span class="right-price2">指导售价：<{$item.price|cur}></span>
						<{if $item.shop_id == $shop_id}>						
                        <div class="right-old" data-id="<{$item.item_id}>">  
                            <p>本店铺商品</p>
                        </div>
                        <{elseif $item.status != 'onsale'}>
                        <div class="right-old" data-id="<{$item.item_id}>">
                            <p>已下架</p>
                        </div>
						<{elseif $item.real_store <= 0}>	
                        <div class="right-old" data-id="<{$item.item_id}>">  
                            <p>已售罄</p>
                        </div>
						<{elseif in_array($item.item_id, $initItemsId)}>
                        <div class="right-old" data-id="<{$item.item_id}>">  
                            <p>已优选</p>
                        </div>
						<{else}>
                        <div class="right-btn chosebtngoods" data-id="<{$item.item_id}>">
                            <img src="/app/topshop/mall/statics/images/store/jia_a.png" alt="">
                            <p>优选上架</p>
                        </div>
						<{/if}>
                    </div>
                    <p class="header-list-lilv"><i><{$item.profit}>%</i><br>毛利率</p>
                </li>
				<{/foreach}>
            </ul>
        </div>
        <div class="wrap-nav">
            <div class="nav">
                <div class="allkind hidelist">
                    <span>全部商品分类</span>
                    <div class="inner-container common-category">
                        <div class="inner">
                            <div class="category">
                                <ul class="category-ul">
								<{foreach from=$items_cat item=cat1 key=key1}>
                                    <li class="category-ul-li"><i class="icon"></i><{$cat1.cat_name}><i class="arrows"></i>
                                        <div class="category-detail-part">
											<{foreach from=$cat1.lv2 item=cat2 key=key2}>
                                            <div class="category-one">
                                                <h2><{$cat2.cat_name}></h2>
                                                <ul class="category-detail-ul">
													<{foreach from=$cat2.lv3 item=cat3 key=key3}>
                                                    <li><a href="<{url action=topshop_ctl_mall_list@index cat_id=$cat3.cat_id}>"><{$cat3.cat_name}></a></li>
													<{/foreach}>
                                                </ul>
                                            </div>
											<{/foreach}>
                                        </div>
                                    </li>
									<{/foreach}>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="subnav">
                    <li><a href="<{url action=topshop_ctl_mall_home@index}>">首页</a></li>
                </ul>
                <{*<div class="allChoose">
                    <img src="../images/store/jia_a.png" alt="">
                    <p>全部优选上架</p>
                </div>*}>
            </div>
        </div>
    </div>

    <div class="pc-store-swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
				<{foreach from=$setting.banner.img item=item key=key}>
                <div class="swiper-slide" style="background:url('<{$item|storager}>') no-repeat center;">
                    <a href="<{$setting.banner.url.$key}>">
                    </a>
                </div>
				<{/foreach}>
                <{*<div class="swiper-slide" style="background:url('../images/store/banner.png') no-repeat center;">
                    <a href="">
                        
                    </a>
                </div>
                <div class="swiper-slide" style="background:url('../images/store/banner.png') no-repeat center;">
                    <a href="">
                        
                    </a>
                </div>*}>

            </div>
            <div class="pagination inner-pagination"></div>
        </div>
    </div>
	<{if $setting.ad_pic}>
    <div class="pc-store-banner">
        <a href="<{$setting.ad_pic.url.0}>"><img src="<{$setting.ad_pic.img.0}>" alt=""></a>
        <a href="<{$setting.ad_pic.url.1}>"><img src="<{$setting.ad_pic.img.1}>" alt=""></a>
    </div>
	<{/if}>
    <section>
        <div class="pc-list-content">
            <!--筛选条件结束-->
            <div class="filter">
                <!--<a href="javascript:;" class="sort active" data-type='created_time_asc'>综合排序</a>-->
                <a href="javascript:;" class="sort asce" data-type='modified_time_asc'>上架时间</a>
                <a href="javascript:;" class="sort" data-type='paid_quantity_asc'>销量</a>
                <a href="javascript:;" class="sort" data-type='price_asc'>价格</a>
                <a href="javascript:;" class="sort" data-type='profit_asc'>毛利率</a>
                <div class="goods-total">
                    共<i><{$count}></i>件商品
                </div>
            </div>
            <div class="list-box">
                <ul class="list">
                </ul>
                <!-- 没有数据显示 -->
                <{*<div class="pc-list-empty" style="display: none;">
                    <div><img src="../images/list/nodata.png" alt=""></div>
                    <p>未搜索到相关商品</p>
                </div>*}>
                <!-- end -->
            </div>
            <div class="pc-page" id="pageDemo"></div>
        </div>
    </section>

    <{include file="topshop/mall/footer.html"}>
    <!--<div id="scrollTop">
        <div class="shopcart">
            <i class="count">9</i>
        </div>
        <div class="totop"></div>
    </div>-->
</body>
<script src="/app/topshop/mall/statics/lib/jquery/jquery-3.3.0.min.js"></script>
<script src="/app/topshop/mall/statics/lib/layui/layui.all.js"></script>
<script src="/app/topshop/mall/statics/lib/jquery/jquery.fly.js"></script>
<script src="/app/topshop/mall/statics/lib/jquery/jquery.lazyload.js"></script>
<script src="/app/topshop/mall/statics/lib/swiper2/idangerous.swiper.min.js"></script>
<script src="/app/topshop/mall/statics/js/common.js"></script>
<script>  
	var pageConf = eval('('+'<{$filter_json}>'+')');
    var z_event = {
        init() {
            this.initLayPage();
            this.addCarts();
            this.filter();
            this.swiper();

            // 点击分类筛选
            $('.brand a').on('click', 'a', function(e){
                $(this).addClass('active').siblings('a').removeClass('active');
            })
            $('.brand a').on('click', '.close-tag', function(e){
                //console.log($(e.target).parent('a'));
                $(e.target).parent('a').removeClass('active');
            })
        },
        swiper() {
            var mySwiper1 = new Swiper('.swiper-container', {
                autoplay: 2000,//可选选项，自动滑动
                loop: true,
                pagination: '.inner-pagination',
                paginationClickable: true,
                // centeredSlides : true,
                autoplayDisableOnInteraction: false
            });
        },
        initLayPage() {

            $.post("<{url action=topshop_ctl_mall_list@listData}>", pageConf, function (data) {
                if(data != '')
                {
                    console.log(1);
                    layui.use(['laypage', 'layer'], function () {
                        var page = layui.laypage;
                        page.render({
                            elem: 'pageDemo',
                            count: '<{$count}>',
                            curr: pageConf.pages,
                            limit: pageConf.page_size,
                            theme: '#FFF',
                            layout: ['prev', 'page', 'next', 'count', 'skip'],
                            jump: function (obj, first) {
                                if (!first) {
                                    pageConf.pages = obj.curr;
                                    pageConf.page_size = obj.limit;
                                    z_event.initLayPage();
                                }
                            }
                        });
                        $('.list-box').html(data); //页面填充
                        preferred.init();
						z_event.addCarts();
                    });
                }
            });
        },
        addCarts() {
            $('.chosebtn').on('click', function (e) {
				alert(123);return false;
                if (!$(this).hasClass('oversale')) {
					var id=$(this).attr('data-id');
					var _this = this;
				
					$.post('<{url action=topshop_ctl_mall_item@pullItem}>', 'item_id='+id, function(rs){
						if(rs.error) {
							layer.msg(rs.message);
							return;
						}
						if(rs.success) {
							var offset_tar = $('#scrollTop').position();
							var flyer = $(_this).parent().find('.goods-img>img').clone().css({
								"width": '50px',
								"height": "50px",
								'border-radius': '50%',
								'position': "absolute",
								"bottom": '0',
								"left": '40%'
							});
							$(_this).after(flyer);
							flyer.animate({
								bottom: '100px'
							}, 500);

							setTimeout(function () {
								flyer.fly({
									start: {
										left: e.clientX,
										top: e.clientY - 100
									},
									end: {
										left: offset_tar.left,
										top: offset_tar.top
									},
									onEnd: function () {
										flyer.remove();
									}
								});
							}, 300);
							var count = $('#scrollTop').find('.count').html();
							count++;
							$('.count').html(count);
							layer.msg(rs.message);
							$(_this).html('已优选');
							$(_this).addClass('oversale');
						}
					});
                }
            })
        },
        filter() {
            // 筛选条件
            // 筛选条件 0降序 1升序
            var filterWord = decodeURIComponent(preferred.getQueryString('filter')) ;
            //console.log(filterWord);
            switch (filterWord) {
                case '销量':
                    //console.log(1);
                    $('.filter>a').eq(1).addClass('active').siblings('a').removeClass('active');
                case 'salenum_0': // 销量
                    $('.filter>a').eq(1).addClass('asce').siblings('a').removeClass('asce');
                    $('.filter>a').eq(1).attr('href', '?filter=salenum_1')
                    break;
                case '价格':
                    $('.filter>a').eq(2).addClass('active').siblings('a').removeClass('active');
                case 'salenum_1':
                    $('.filter>a').eq(1).addClass('down').siblings('a').removeClass('down');
                    $('.filter>a').eq(1).attr('href', '?filter=salenum_0')
                    break;
                case '上架时间':
                    $('.filter>a').eq(3).addClass('active').siblings('a').removeClass('active');
                case 'price_0':  // 价格
                    $('.filter>a').eq(2).addClass('asce').siblings('a').removeClass('asce');
                    $('.filter>a').eq(2).attr('href', '?filter=price_1')
                    break;
                case '毛利率':
                    $('.filter>a').eq(4).addClass('active').siblings('a').removeClass('active');
                case 'price_1':
                    $('.filter>a').eq(2).addClass('down').siblings('a').removeClass('down');
                    $('.filter>a').eq(2).attr('href', '?filter=price_0')
                    break;
                case 'saleTime_0': // 上架时间
                    $('.filter>a').eq(3).addClass('asce').siblings('a').removeClass('asce');
                    $('.filter>a').eq(3).attr('href', '?filter=saleTime_1');
                    break;
                case 'saleTime_1':
                    $('.filter>a').eq(3).addClass('down').siblings('a').removeClass('down');
                    $('.filter>a').eq(3).attr('href', '?filter=saleTime_0');
                    break;
                case 'profit_0': // 毛利率
                    $('.filter>a').eq(4).addClass('asce').siblings('a').removeClass('asce');
                    $('.filter>a').eq(4).attr('href', '?filter=profit_1');
                    break;
                case 'profit_1':
                    $('.filter>a').eq(4).addClass('down').siblings('a').removeClass('down');
                    $('.filter>a').eq(4).attr('href', '?filter=profit_0');
                    break;
                default:
                    $('.filter>a').eq(0).addClass('asce').siblings('a').removeClass('asce');
                    break;
            }
        }
    }
    z_event.init();
	
	$('.sort').on('click',function(){
		var sort=$(this).attr('data-type');
		var that=$(this);

		if(that.hasClass('asce') || that.hasClass('down')){
			if(sort.indexOf('asc')!=-1){
				sort=sort.replace('asc','desc');
				$('.asce').removeClass('asce');
				that.addClass('down');
			}else{
				sort=sort.replace('desc','asc');
				$('.down').removeClass('down');
				that.addClass('asce');
			}
			that.attr('data-type',sort);
			pageConf.orderBy=sort;
			pageConf.pages=1;
			z_event.initLayPage();
		}else{
			$('.down').removeClass('down');
			$('.asce').removeClass('asce');
			that.addClass('asce');
			that.attr('data-type',sort);
			if(sort.indexOf('desc')!=-1){
				sort=sort.replace('desc','asc');
			}
			//type=sort.replace('asc','desc');
			that.attr('data-type',sort);
			pageConf.orderBy=sort;
			pageConf.pages=1;
			z_event.initLayPage();
		}
	});

	
	$('.chosebtngoods').on('click', function (e) {
		if (!$(this).hasClass('right-old')) {
			var id=$(this).attr('data-id');
			var _this = this;
		
			$.post('<{url action=topshop_ctl_mall_item@pullItem}>', 'item_id='+id, function(rs){
				if(rs.error) {
					layer.msg(rs.message);
					return;
				}
				if(rs.success) {
					var offset_tar = $('#scrollTop').position();
					var flyer = $(_this).parents().find('.header-list-left>a>img').clone().css({
						"width": '50px',
						"height": "50px",
						'border-radius': '50%',
						'position': "absolute",
						"bottom": '0',
						"left": '40%'
					});
					$(_this).after(flyer);
					flyer.animate({
						bottom: '100px'
					}, 500);

					setTimeout(function () {
						flyer.fly({
							start: {
								left: e.clientX,
								top: e.clientY - 100
							},
							end: {
								left: offset_tar.left,
								top: offset_tar.top
							},
							onEnd: function () {
								flyer.remove();
							}
						});
					}, 300);
					var count = $('#scrollTop').find('.count').html();
					count++;
					$('.count').html(count);
					layer.msg(rs.message);
					$(_this).removeClass('right-btn');
					$(_this).addClass('right-old');
					$(_this).html('<p>已优选</p>');
				}
			});
		}
	})


</script>

</html>