<div class="panel-heading">
  <div class="clearfix">
    <div class="pull-left">
      <h2 class="panel-title">选择用户</h2>
    </div>
    <div class="pull-right">
      <button id="choose_users" type="button" class="btn btn-primary btn-sm">确定</button>
      <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
    </div>
  </div>
</div>
<div class="panel-body">
  <div class="goods-condition clearfix">
    <div class="goods-search"><input type="text" name="account_name" value="" id="users-search-na" class="form-control input-sm goods-search-key" placeholder="用户名"></div>
    <div class="goods-search"><input type="text" name="account_mobile" value="" id="users-search-mb" class="form-control input-sm goods-search-bn" placeholder="手机号"></div>
    <div class="goods-search"><input type="email" name="account_email" value="" id="users-search-em" class="form-control input-sm goods-search-bn" placeholder="邮箱号"></div>
    <button id="search_users" type="button" class="btn btn-warning btn-sm" data-remote="<{url action=topshop_ctl_selector_users@searchUser limit=$limit}>">搜索</button>
    <button id="check_all" type="button" class="btn btn-info btn-sm">全选当前页</button>
    &nbsp; <a id="uncheck_all" href="#">清空当前页</a>
    &nbsp; <a id="clear_filter" href="#">清空筛选条件</a>
  </div>
  <div class="row goods-list">
    <div id="users_list">
    </div>
  </div>
</div>
