<table wdith="100%" class="table table-primary table-hover table-goods">
  <tr>
    <th>用户id</th>
    <th>登录名</th>
    <th>手机号</th>
    <th>邮箱</th>
    <th>操作</th>
  </tr>
  <{foreach from=$_input.usersList item=item key=key}>
  <tr data-user_id="<{$item.user_id}>" class='package_input'>
    <td>
      <input type="hidden" name="user_id[]" value="<{$item.user_id}>" />
      <{$item.user_id}>
    </td>
    <td>
      <{$item.login_account}>
    </td>
    <td>
      <{$item.mobile}>
    </td>
    <td>
      <{$item.email}>
    </td>
    <td>
      <a class="user-del" href="#">删除</a>
    </td>
  </tr>
  <{/foreach}>
</table>


<script>
  $('.user-del').click(function(e) {
    e.preventDefault();
    $(this).parents('tr').remove();
  });
</script>
