.hacker-box-wrap {
  padding: .24rem;
  background: #fbfbfb;
  position: relative;
  border-bottom: 1px solid #eee;
}
.hacker-box-wrap .hacker-left {
  width: 100%;
  height: 2.34rem;
  background: url(../images/charges.png) no-repeat center center;
  background-size: contain;
  border-radius: 6px;
  color: #fff;
  padding-top: .5rem;
  padding-left: .45rem;
}
.hacker-box-wrap .hacker-left span {
  font-size: .26rem;
}
.hacker-box-wrap .hacker-left p {
  font-size: .6rem;
  font-weight: 400;
  margin-top: .15rem;
}
.hacker-box-wrap .hacker-right {
  position: absolute;
  right: .45rem;
  bottom: .8rem;
  color: #fff;
  text-align: right;
}
.hacker-box-wrap .hacker-right span {
  font-size: .24rem;
}
.hacker-box-wrap .hacker-right p {
  font-size: .24rem;
  margin-top: .13rem;
}
.hacker-list li.nodata {
  padding-top: 45%;
  display: block;
  text-align: center;
}
.hacker-list li.nodata img {
  margin: 0 auto;
  width: 1.96rem;
  height: 1.98rem;
}
.hacker-list li.nodata p {
  margin-top: .4rem;
  font-size: .32rem;
  color: #333;
}
/*分销佣金*/
.m-hacker-center .hacker-list li {
  width: 100%;
  height: .86rem;
  border-bottom: 1px solid #eee;
  margin-bottom: .2rem;
  padding: 0 .2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.m-hacker-center .hacker-list li.canuse .price {
  color: #ff8008;
}
.m-hacker-center .hacker-list li.nodata {
  border: 0;
  padding-top: 45%;
  display: block;
  text-align: center;
}
.m-hacker-center .hacker-list li p {
  font-size: .32rem;
}
.m-hacker-center .hacker-list li i {
  margin-right: .2rem;
  display: inline-block;
  width: .3rem;
  height: .3rem;
  background-size: .3rem .3rem;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
}
.m-hacker-center .hacker-list li .keyong {
  background-image: url(../images/charges-icon1.png);
}
.m-hacker-center .hacker-list li .wuxiao {
  background-image: url(../images/charges-icon2.png);
}
.m-hacker-center .hacker-list li .success {
  background-image: url(../images/charges-icon3.png);
}
.m-hacker-center .hacker-list li .daishou {
  background-image: url(../images/charges-icon4.png);
}
.m-hacker-center .hacker-list li .weijie {
  background-image: url(../images/charges-icon5.png);
}
/*可提现佣金*/
.m-hacker-withdraw #mescroll {
  position: fixed;
  top: 2.9rem;
  bottom: 0;
  height: auto;
  width: 100%;
}
.m-hacker-withdraw .hacker-list li {
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 0 .24rem;
  width: 100%;
  height: 1.41rem;
  align-items: center;
}
.m-hacker-withdraw .hacker-list li.nodata {
  border: 0;
  display: block;
  padding-top: 45%;
}
.m-hacker-withdraw .hacker-list li .left {
  width: 80%;
}
.m-hacker-withdraw .hacker-list li .left p {
  font-size: .36rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.m-hacker-withdraw .hacker-list li .left span {
  font-size: .24rem;
  color: #999999;
  margin-top: .1rem;
}
.m-hacker-withdraw .hacker-list li .right {
  text-align: right;
}
.m-hacker-withdraw .hacker-list li .right p {
  font-size: .24rem;
}
.m-hacker-withdraw .hacker-list li .right span {
  font-size: .36rem;
  color: #ff8008;
  font-weight: 500;
  margin-top: .1rem;
}
/*佣金明细*/
.m-hacker-detail #mescroll {
  position: fixed;
  top: 2.9rem;
  bottom: 0;
  height: auto;
  width: 100%;
}
.m-hacker-detail .hacker-list li {
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 0 .24rem;
  width: 100%;
  height: 1.78rem;
  align-items: center;
}
.m-hacker-detail .hacker-list li.nodata {
  border: 0;
  display: block;
  padding-top: 45%;
}
.m-hacker-detail .hacker-list li .left {
  width: 80%;
}
.m-hacker-detail .hacker-list li .left p {
  font-size: .36rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.m-hacker-detail .hacker-list li .left span {
  font-size: .24rem;
  color: #999999;
  margin-top: .1rem;
}
.m-hacker-detail .hacker-list li .left small {
  font-size: .26rem;
  display: block;
  margin-top: .1rem;
}
.m-hacker-detail .hacker-list li .right {
  text-align: right;
  align-self: flex-start;
  padding-top: .2rem;
}
.m-hacker-detail .hacker-list li .right p {
  font-size: .24rem;
}
.m-hacker-detail .hacker-list li .right span {
  font-size: .36rem;
  color: #ff8008;
  font-weight: 500;
  margin-top: .1rem;
}
.m-hacker-detail .hacker-list li .right.pay span {
  color: #ff8008;
}
.m-hacker-detail .hacker-list li .right.back span {
  color: #333;
}
/*自选商品*/
.m-hacker-choose {
  width: 100%;
  height: 100%;
}
.m-hacker-choose .goods-wrap {
  height: 92%;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.m-hacker-choose .choose-kind {
  width: 2.48rem;
  height: 100%;
  background: #efeff4;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
}
.m-hacker-choose .choose-kind::-webkit-scrollbar {
  width: 0 !important;
}
.m-hacker-choose .choose-kind li {
  line-height: .88rem;
  font-size: .26rem;
  position: relative;
}
.m-hacker-choose .choose-kind li.active {
  background: #fff;
  color: #4d9fff;
}
.m-hacker-choose .choose-kind li.active::before {
  content: '';
  width: .04rem;
  height: .34rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #4d9fff;
}
.m-hacker-choose .goods-box {
  width: 5rem;
  padding: 0 0.15rem;
}
.m-hacker-choose .goods-box .search {
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.m-hacker-choose .goods-box .search input {
  padding: .12rem;
  background: #efeff4;
  border-radius: 6px;
  outline: none;
  border: 0;
  width: 80%;
  font-size: .26rem;
  color: #666666;
}
.m-hacker-choose .goods-box .search a {
  background: #efeff4;
  font-size: .24rem;
  display: block;
  width: .8rem;
  line-height: .6rem;
  text-align: center;
  border-radius: 6px;
  color: #666666;
  -webkit-tap-highlight-color: transparent;
}
.m-hacker-choose .goods-list {
  width: 5rem;
  height: 92%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.m-hacker-choose .goods-list::-webkit-scrollbar {
  width: 0!important;
}
.m-hacker-choose .goods-list::-webkit-scrollbar-thumb {
  display: none;
}
.m-hacker-choose .goods-list dl {
  display: flex;
  position: relative;
  padding: .2rem 0 .4rem 0;
  border-top: 1px solid #eee;
}
.m-hacker-choose .goods-list dl dt {
  width: 1.1rem;
  position: relative;
}
.m-hacker-choose .goods-list dl dt img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
}
.m-hacker-choose .goods-list dl dd {
  width: 75%;
  padding-left: 0.18rem;
}
.m-hacker-choose .goods-list dl dd span {
  display: block;
  font-size: .24rem;
}
.m-hacker-choose .goods-list dl dd span i {
  color: #ff4200;
  font-size: 0.3rem;
}
.m-hacker-choose .goods-list dl dd small {
  font-size: .24rem;
  color: #999999;
}
.m-hacker-choose .goods-list dl p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .28rem;
  padding-right: 0.2rem;
}
.m-hacker-choose .goods-list dl .choose {
  width: .8rem;
  height: .45rem;
  background: #fff;
  border-radius: .4rem;
  position: absolute;
  right: 0.25rem;
  bottom: .2rem;
  transition: all .6s;
  border: 1px solid #eee;
  -webkit-tap-highlight-color: transparent;
}
.m-hacker-choose .goods-list dl .choose:before {
  content: '';
  width: .4rem;
  height: .4rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 3px #ccc;
}
.m-hacker-choose .goods-list dl .choose.active {
  background: #4d9fff;
  border: 1px solid #4d9fff;
}
.m-hacker-choose .goods-list dl .choose.active::before {
  left: auto;
  right: 0;
}
.m-hacker-choose .complete-btn {
  width: 100%;
  height: 8%;
  background: #efeff4;
  text-align: right;
  padding: .2rem .24rem .1rem 0;
  position: relative;
  z-index: 9;
}
.m-hacker-choose .complete-btn button {
  border: 0;
  background: #4d9fff;
  color: #fff;
  font-size: .34rem;
  line-height: .66rem;
  padding: 0 .5rem;
  border-radius: 6px;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
