<div class="form-group">
    <label><{t}>商家编码<{/t}>：</label>
    <input type="text" name="base_conf[customer_code]" class="form-control" value="<{$corpData.base_conf.customer_code}>">
</div>

<div class="form-group">
    <label><{t}>request_url<{/t}>：</label>
    <input type="text" name="base_conf[request_url]" class="form-control" value="<{$corpData.base_conf.request_url}>">
</div>

<div class="form-group">
    <label><{t}>签名token<{/t}>：</label>
    <input type="text" name="base_conf[sign_token]" class="form-control" value="<{$corpData.base_conf.sign_token}>">
</div>
