<!-- 酷蜘蛛物流 -->
<div class="form-group">
    <label><{t}>appkey<{/t}>：</label>
    <input type="text" name="base_conf[appkey]" class="form-control" value="<{$corpData.base_conf.appkey}>">
</div>
<div class="form-group">
    <label><{t}>secret<{/t}>：</label>
    <input type="text" name="base_conf[secret]" class="form-control" value="<{$corpData.base_conf.secret}>">
</div>
<div class="form-group">
    <label><{t}>sessionkey<{/t}>：</label>
    <input type="text" name="base_conf[sessionkey]" class="form-control" value="<{$corpData.base_conf.sessionkey}>">
</div>
<div class="form-group">
    <label><{t}>request_url<{/t}>：</label>
    <input type="text" name="base_conf[request_url]" class="form-control" value="<{$corpData.base_conf.request_url}>">
</div>