<form action="<{url action=topshop_ctl_promotion_lottery@save_lottery}>" method="post" class="form-horizontal clearfix" data-validate-onsuccess="ajaxSubmit" role="form">
  <input type='hidden' name='lottery_id' value="<{$lottery_id}>">
  <div class="panel panel-default">
    <div class="panel-heading">基本信息设置</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <{t}>转盘抽奖名称
            <{/t}>：</label>
        <div class="col-sm-4">
          <input type="text" name="lottery_name" required value="<{$lottery_name}>" class="form-control" placeholder="转盘抽奖名称" maxlength="50" required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <{t}>转盘抽奖规则
            <{/t}>：</label>
        <div class="col-sm-10">
          <textarea wrap="hard" name="lottery_desc" rows="3" cols="10" style="resize: none;" class="form-control" placeholder="转盘抽奖规则" required><{$lottery_desc}></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          <{t}>转盘抽奖活动有效期
            <{/t}>：</label>
        <div class="col-sm-4">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" class="form-control pull-right reservation" style="max-width:100%;" readonly name="valid_time" value="<{$valid_time}>">
          </div>
        </div>
      </div>

      <div class="form-group">
          <label for="" class="col-sm-2 control-label">
            <{t}>每人最多可抽奖次数
              <{/t}>：</label>
          <div class="col-sm-4">
            <input type="number" name="lottery_joint_limit" required value="<{$lottery_joint_limit}>" class="form-control" placeholder="每人最多可抽奖次数,0为不限制" maxlength="10">
          </div>
      </div>

      <div class="form-group">
          <label for="" class="col-sm-2 control-label">
            <{t}>每人每天最多可抽奖次数
              <{/t}>：</label>
          <div class="col-sm-4">
            <input type="number" name="lottery_day_limit" required value="<{$lottery_day_limit}>" class="form-control" placeholder="每人每天最多可抽奖次数,0为不限制" maxlength="10">
          </div>
      </div>

      <div class="form-group">
          <label class="col-sm-2 control-label">
            <{t}>使用平台
              <{/t}>：</label>
          <div class="col-sm-10 radio">
            <label class="form-inline">
              <input type="radio" name="used_platform" value='0' <{if $used_platform=='0' || !$used_platform}>checked <{/if}> >
              全平台
            </label>
            <label class="form-inline">
              <input type="radio" name="used_platform" value='1' <{if $used_platform=='1' }>checked <{/if}> >
              pc端
            </label>
            <label class="form-inline">
              <input type="radio" name="used_platform" value='2' <{if $used_platform=='2' }>checked <{/if}> >
              wap端
            </label>
          </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <{t}>分享标题
            <{/t}>：</label>
        <div class="col-sm-4">
          <input type="text" name="share_title" required value="<{$share_title}>" class="form-control" placeholder="分享标题" maxlength="50" required>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <{t}>分享描述
            <{/t}>：</label>
        <div class="col-sm-10">
          <textarea wrap="hard" name="share_desc" rows="3" cols="10" style="resize: none;" class="form-control" placeholder="分享描述" required><{$share_desc}></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">分享图片：</label>
        <div class="col-sm-3">
            <div class="multiple-item" style="position:relative">
                <div class="multiple-del glyphicon glyphicon-remove-circle remove_img" style="position: absolute;left: 60px;top: -5px;z-index: 999;"></div>
                <a class="select-image" data-toggle="modal" href="<{url action=topshop_ctl_shop_image@loadImageModal}>" data-target="#gallery_modal">
                    <input class="" type="hidden" name="share_img" value="<{$share_img}>">
                    <div class="img-put">
                        <img  class=""  src="<{$share_img}>">
                        <i class="glyphicon glyphicon-picture"></i>
                    </div>
                </a>
            </div>
            <span class="help-block">建议图片大小：80 * 80 px。</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">背景图片：</label>
        <div class="col-sm-3">
            <div class="multiple-item" style="position:relative">
                <div class="multiple-del glyphicon glyphicon-remove-circle remove_img" style="position: absolute;left: 60px;top: -5px;z-index: 999;"></div>
                <a class="select-image" data-toggle="modal" href="<{url action=topshop_ctl_shop_image@loadImageModal}>" data-target="#gallery_modal">
                    <input class="" type="hidden" name="basic_conf[index_bg_img]" value="<{$basic_conf.index_bg_img}>">
                    <div class="img-put">
                        <img  class=""  src="<{$basic_conf.index_bg_img}>">
                        <i class="glyphicon glyphicon-picture"></i>
                    </div>
                </a>
            </div>
            <span class="help-block">建议图片大小：960 * 1700 px。</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">转盘背景图片：</label>
        <div class="col-sm-3">
            <div class="multiple-item" style="position:relative">
                <div class="multiple-del glyphicon glyphicon-remove-circle remove_img" style="position: absolute;left: 60px;top: -5px;z-index: 999;"></div>
                <a class="select-image" data-toggle="modal" href="<{url action=topshop_ctl_shop_image@loadImageModal}>" data-target="#gallery_modal">
                    <input class="" type="hidden" name="basic_conf[turnplate_bg_img]" value="<{$basic_conf.turnplate_bg_img}>">
                    <div class="img-put">
                        <img  class=""  src="<{$basic_conf.turnplate_bg_img}>">
                        <i class="glyphicon glyphicon-picture"></i>
                    </div>
                </a>
            </div>
            <span class="help-block">建议图片大小：510 * 510 px。</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">转盘指针图片：</label>
        <div class="col-sm-3">
            <div class="multiple-item" style="position:relative">
                <div class="multiple-del glyphicon glyphicon-remove-circle remove_img" style="position: absolute;left: 60px;top: -5px;z-index: 999;"></div>
                <a class="select-image" data-toggle="modal" href="<{url action=topshop_ctl_shop_image@loadImageModal}>" data-target="#gallery_modal">
                    <input class="" type="hidden" name="basic_conf[turnplate_pointer_img]" value="<{$basic_conf.turnplate_pointer_img}>">
                    <div class="img-put">
                        <img  class=""  src="<{$basic_conf.turnplate_pointer_img}>">
                        <i class="glyphicon glyphicon-picture"></i>
                    </div>
                </a>
            </div>
            <span class="help-block">建议图片大小：135 * 175 px，指针朝上。</span>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <{t}>转盘与顶部距离<{/t}>：
        </label>
        <div class="col-sm-4">
          <input type="number" name="basic_conf[turnplate_top]" required value="<{$basic_conf.turnplate_top}>" class="form-control" placeholder="单位px" max="500">
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <{t}>奖品名称字体颜色<{/t}>：
        </label>
        <div class="col-sm-2">
          <input type="color" name="basic_conf[prize_font_color]" required value="<{$basic_conf.prize_font_color|default:'#E5302F'}>" class="form-control" placeholder="奖品名称字体颜色">
        </div>
      </div>

      <div class="form-group">
          <label class="col-sm-2 control-label">
            <{t}>开启活动
              <{/t}>：</label>
          <div class="col-sm-10 radio">
            <label class="form-inline">
              <input type="radio" name="status" value='active' <{if $status == 'active' || !isset($status)}> checked <{/if}> >
              开启
            </label>
            <label class="form-inline">
              <input type="radio" name="status" value='stop' <{if $status == 'stop'}> checked <{/if}>>
              关闭
            </label>
          </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading">奖品设置</div>
      <div class="panel-body">
        <div class="callout callout-info">
          <p>奖品最多添加8个，最少添加2个，并且最少要添加一个无中奖类型奖品。</p>
          <p>奖品名称最多8个字符。</p>
          <p>所有奖品获奖概率和为100%。</p>
          <p>奖品保存之后只可修改，不可删除</p>
          <p>勾选“中奖限制”的奖品，1个用户只会中奖1次</p>
        </div>
          <div class="col-sm-12">

            <div class="form-group">
              <button class="btn btn-block btn-danger" data-toggle="modal" data-target="#myModal" type="button">添加奖品</button>
            </div>

            <div class="form-group">
              <div class="panel panel-default panel-default-table">
                  <div class="panel-heading">
                    奖品
                  </div>
                  <div class="panel-body">
                      <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-hover">
                          <thead>
                            <tr>
                                <th style="width:10%;">类型</th>
                                <th style="width:10%;">名称</th>
                                <th style="width:10%;">获奖概率</th>
                                <th style="width:5%;">图片</th>
                                <th style="width:5%;">背景色</th>
                                <th style="width:10%;">数量</th>
                                <th style="width:5%;">需要配送</th>
                                <th style="width:5%;">中将限制</th>
                                <th style="width:5%;">操作</th>
                            </tr>
                          </thead>
                          <tbody class="rule-dom">
                            <{include file="topshop/promotion/lottery/conditionval.html"}>
                          </tbody>
                      </table>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
          <h4 class="modal-title" id="myModalLabel">选择奖品类型</h4>
        </div>
        <div class="modal-body">
            <button class="btn btn-default text-blue bonus-type-select" data-bonus-type="custom" data-dismiss="modal">自定义奖项</button>
            <button class="btn btn-default text-blue bonus-type-select" data-bonus-type="coupon" data-dismiss="modal">优惠券</button>
            <button class="btn btn-default text-blue bonus-type-select" data-bonus-type="none" data-dismiss="modal">未中奖</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-lg btn-block action-save">保存</button>
    </div>
    <div class="col-md-2">
      <a href="<{url action="topshop_ctl_promotion_lottery@list_lottery"}>"><button type="button" class="btn btn-default btn-lg btn-block action-cancel">取消</button></a>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</form>

<!-- 无中奖模板 -->
<script type="text/html" id="none_bonus_dom">
  <tr>
    <td>
      <label>无中奖</label>
      <input type="hidden" name="lotteryrules[replace_bonus_key][bonus_type]" value="none">
      <input type="hidden" name="lotteryrules[key]" value="replace_bonus_key">
    </td>
    <td>
      <input type="text" class="form-control" placeholder="" name="lotteryrules[replace_bonus_key][bonus_desc]">
    </td>
    <td>
      <div class="input-group">
          <input type="number" class="form-control" placeholder="" name="lotteryrules[replace_bonus_key][rate]">
          <span class="input-group-addon">%</span>
      </div>
    </td>
    <td>
        <div class="input-group">
            <div class="multiple-item" style="position:relative">
                <div class="multiple-del glyphicon glyphicon-remove-circle bonus-removeImg" style="position: absolute;left: 60px;top: -5px;z-index: 999;"></div>
                <a class="select-image" data-toggle="modal" href="<{url action=topshop_ctl_shop_image@loadImageModal}>" data-target="#gallery_modal">
                    <input class="reshow_logo" type="hidden" name="lotteryrules[replace_bonus_key][img]">
                    <div class="img-put">
                        <img  class="rightlogo" src="">
                        <i class="glyphicon glyphicon-picture"></i>
                    </div>
                </a>
            </div>
        </div>
    </td>
    <td>
        <div class="checkbox">
            <label>
                <input type="color" name="lotteryrules[replace_bonus_key][color]" value="#cccccc">
            </label>
        </div>
    </td>
    <td>
        <!-- <input type="number" class="form-control" name="" value="" readonly> -->
    </td>
    <td>
        <div class="checkbox">
            <label>
              否
            </label>
        </div>
    </td>
    <td>
        <div class="checkbox">
            <label>
              否
            </label>
        </div>
    </td>
    <td><a class="bonus-del-btn" href="javascript:void(0);">删除</a></td>
  </tr>
</script>

<!-- 自定义奖品模板 -->
<script type="text/html" id="custom_bonus_dom">
  <tr>
    <td>
      <label>自定义</label>
      <input type="hidden" name="lotteryrules[replace_bonus_key][bonus_type]" value="custom">
      <input type="hidden" name="lotteryrules[key]" value="replace_bonus_key">
    </td>
    <td>
      <input type="text" class="form-control" placeholder="" name="lotteryrules[replace_bonus_key][bonus_desc]">
    </td>
    <td>
      <div class="input-group">
          <input type="number" class="form-control" placeholder="" name="lotteryrules[replace_bonus_key][rate]">
          <span class="input-group-addon">%</span>
      </div>
    </td>
    <td>
        <div class="input-group">
            <div class="multiple-item" style="position:relative">
                <div class="multiple-del glyphicon glyphicon-remove-circle bonus-removeImg" style="position: absolute;left: 60px;top: -5px;z-index: 999;"></div>
                <a class="select-image" data-toggle="modal" href="<{url action=topshop_ctl_shop_image@loadImageModal}>" data-target="#gallery_modal">
                    <input class="reshow_logo" type="hidden" name="lotteryrules[replace_bonus_key][img]">
                    <div class="img-put">
                        <img  class="rightlogo" src="">
                        <i class="glyphicon glyphicon-picture"></i>
                    </div>
                </a>
            </div>
        </div>
    </td>
    <td>
        <div class="checkbox">
            <label>
                <input type="color" name="lotteryrules[replace_bonus_key][color]" value="#cccccc">
            </label>
        </div>
    </td>
    <td>
          <input type="number" class="form-control" name="lotteryrules[replace_bonus_key][sum]" value="">
    </td>
    <td>
        <div class="checkbox">
            <label>
                <input type="checkbox" class="bonus-delivery" name="lotteryrules[replace_bonus_key][is_delivery]" value="on">
              </label>
        </div>
    </td>
    <td>
        <div class="checkbox">
            <label>
                <input type="checkbox" class="bonus-delivery" name="lotteryrules[replace_bonus_key][send_limit]" value="on">
              </label>
        </div>
    </td>
    <td><a class="bonus-del-btn" href="javascript:void(0);">删除</a></td>
  </tr>
</script>

<!-- 优惠券奖品模板 -->
<script type="text/html" id="coupon_bonus_dom">
  <tr>
    <td>
      <div class="input-group">
          <label>优惠券</label>
          <div class="input-group">
              <div class="form-group" style="margin-bottom: 5px;">
                  <div class="col-sm-12">
                      <button class="btn btn-md btn-block btn-danger select-coupon" data-remote="<{url action=topshop_ctl_selector_coupon@loadSelectModal}>" data-target="#coupon_modal" data-fetchcoupon="<{url action=topshop_ctl_selector_coupon@loadGetCouponRow}>" data-getcouponlist="<{url action=topshop_ctl_selector_coupon@searchCoupon}>" data-limit="1">选择优惠券</button>
                  </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">
                    ID
                </label>
                <div class="col-sm-9">
                        <input type="number" class="form-control" name="lotteryrules[replace_bonus_key][coupon_id]" readonly>
                </div>
              </div>
          </div>
          <input type="hidden" name="lotteryrules[replace_bonus_key][bonus_type]" value="coupon">
          <input type="hidden" name="lotteryrules[key]" value="replace_bonus_key">
      </div>
    </td>
    <td>
      <input type="text" class="form-control" placeholder="" name="lotteryrules[replace_bonus_key][bonus_desc]">
    </td>
    <td>
      <div class="input-group">
          <input type="number" class="form-control" placeholder="" name="lotteryrules[replace_bonus_key][rate]">
          <span class="input-group-addon">%</span>
      </div>
    </td>
    <td>
        <div class="input-group">
            <div class="multiple-item" style="position:relative">
                <div class="multiple-del glyphicon glyphicon-remove-circle bonus-removeImg" style="position: absolute;left: 60px;top: -5px;z-index: 999;"></div>
                <a class="select-image" data-toggle="modal" href="<{url action=topshop_ctl_shop_image@loadImageModal}>" data-target="#gallery_modal">
                    <input class="reshow_logo" type="hidden" name="lotteryrules[replace_bonus_key][img]">
                    <div class="img-put">
                        <img  class="rightlogo" src="">
                        <i class="glyphicon glyphicon-picture"></i>
                    </div>
                </a>
            </div>
        </div>
    </td>
    <td>
        <div class="checkbox">
            <label>
                <input type="color" name="lotteryrules[replace_bonus_key][color]" value="#cccccc">
            </label>
        </div>
    </td>
    <td>
          <!-- <input type="number" class="form-control" name="" value="" readonly> -->
    </td>
    <td>
        <div class="checkbox">
            <label>
              否
            </label>
        </div>
    </td>
    <td>
        <div class="checkbox">
            <label>
                <input type="checkbox" class="bonus-delivery" name="lotteryrules[replace_bonus_key][send_limit]" value="on">
              </label>
        </div>
    </td>
    <td><a class="bonus-del-btn" href="javascript:void(0);">删除</a></td>
  </tr>
</script>

<script>
$('.reservation').daterangepicker({
    "timePicker": true,
    "opens": "right",
    "timePicker24Hour": true,
    "timePickerIncrement": 1,
    "locale": {
        "format": "YYYY/MM/DD HH:mm"
    }
});
// 删除分享图片
$('.remove_img').on('click',function(){
    $(this).next().find('input').attr('value','');
    $(this).next().find('img').attr('src','');
});
// 选择添加奖品
$('.bonus-type-select').click(function(){
    // 奖品数量限制
    var ruleDom = $('.rule-dom').find('tr');

    if(ruleDom.length >= 8){
      $('#messagebox').message('最多添加8项奖品!');
      return;
    }
    var bonus_dom = '';
    // 取得奖品类型
    var bonus_type = $(this).data('bonus-type');
    if(bonus_type == 'none') {
      bonus_dom = $("#none_bonus_dom").html();
    }else if(bonus_type == 'custom') {
      bonus_dom = $("#custom_bonus_dom").html();
    }else if(bonus_type == 'coupon') {
      bonus_dom = $("#coupon_bonus_dom").html();
    }
    // 替换key
    bonus_dom = bonus_dom.replace(/replace_bonus_key/g, getMaxKey() + 1);
    $('.rule-dom').append(bonus_dom);
});

function getMaxKey(){
  var keys = [];
  $('.rule-dom input[name="lotteryrules[key]"]').each(function() {
    keys.push(Number($(this).val()));
  });
  maxKey = keys.length == 0 ? 0 : Math.max.apply(null, keys);
  return maxKey;
}

// 删除奖品图片
$('.rule-dom').on('click', '.bonus-removeImg', function(){
    $(this).next().find('input').attr('value','');
    $(this).next().find('img').attr('src','');
});
// 删除奖品
$('.rule-dom').on('click', '.bonus-del-btn', function(){
    $(this).closest("tr").remove();
});

function ajaxSubmit (e) {
  var form = e.target;
  e.preventDefault();
  $.post(form.action, $(form).serialize(), function(rs) {
    if(rs.error) {
      $('#messagebox').message(rs.message);
      return;
    }
    if(rs.success) {
      $('#messagebox').message(rs.message, 'success');
    }
    if(rs.redirect) {
      location.href = rs.redirect;
    }
  });
}

$('.action-save').click(function(e) {
  added.find('.action-checkitem').prop('checked', true);
});

</script>
