<{include file='topshop/cash/search.html'}>
<input type="hidden" name="nav_name" value="cashChangeLogs">
<form action="" method="post" role="form">
<div class="nav-tabs-custom" id="tabs">
    <{include file='topshop/cash/nav_list.html'}>
    <li class="pull-right header">
            <div class="btn-group">
                <button data-toggle="control-sidebar" class="btn btn-default">
                    <div class="text-light-blue">
                        <i class="fa fa-search"></i>
                        搜索
                    </div>
                </button>
            </div>
        </li>
  <div id="data_node">
    <div class="tab-content no-padding">
        <div class="panel panel-default">
            <div class="panel-body">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">发放礼金总值</label>
                <div class="col-sm-2">
                <input type="text"  name="" value="<{$grant_count}>" class="form-control" readonly="readonly">
                </div>
            </div>
            <div class="form-group" id="">
                <label for="" class="col-sm-2 control-label">使用礼金总值</label>
                <div class="col-sm-2">
                <input type="text"  name="" value="<{$draw_count}>" class="form-control" readonly="readonly">
                </div>
            </div>
            </div>
        </div>
      <table class="table table-hover table-goods">
        <thead>
        <tr>
          <th>领取人</th>
          <th>行为描述</th>
          <th>金额</th>
          <th>备注</th>
          <th>领取时间</th>
        </tr>
        </thead>
        <{if $cashLogList}>
        <tbody>
        <{foreach from=$cashLogList item=aitem}>
        <tr>
          <td>
            <{$aitem.user_mobile}>
          </td>
          <td>
            <{$aitem.behavior}>
          </td>
          <td>
            <{$aitem.lijin}>
          </td>
          <td>
            <{$aitem.remark}>
          </td>
          <td>
            <{$aitem.modified_time|cdate:FDATE_STIME}>
          </td>
        </tr>
        <{/foreach}>
        </tbody>
        <{else}>
        <tbody>
        <tr>
          <td algin="center" colspan="6">
            <p class="help-block text-center">暂无数据</p>
          </td>
        </tr>
        </tbody>
        <{/if}>
      </table>

      <{pagers data=$pagers}>
      <{if $total > 0 }>
      <span class="page-number">共&nbsp;<em class="text-aqua"><{$total}></em>&nbsp;条记录</span>
      <{/if}>
    </div>
  </div>
</div>
</form>
<script>
    $(document).ready(function() {
        $(".sidebar .sidebar-menu li a i.glyphicon").eq(1).removeClass("glyphicon-list-alt").addClass("glyphicon-stats");
    });
    // 重置表单
    $('input[name="modified_time"]').val('');
    $('#reset-form').on('click',function(){
        $('input:visible').val('');
    });
    $('.reservation').daterangepicker({
        format: 'YYYY/MM/DD',
        opens: 'right'
    });
    $('.reservation').val('');
    function ajaxSuccess(e)
    {
        e.preventDefault();
        var form = e.target;
        $(form).find('button[type=submit]').prop('disabled', false);
        $.post(form.action, $(form).serialize(),function(rs)
        {
            $("#data_node").html(rs);
            $('body').removeClass('control-sidebar-open');
            $('.control-sidebar').removeClass('control-sidebar-open');
        });
    }
</script>
