<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="author" content="shopex UED Team" />
<title><{$title}></title>
<link rel="stylesheet" href="/app/topwap/tvshopping/lib/style.css">
<link rel="stylesheet" href="/app/topwap/tvshopping/lib/newtv.css">
<link rel="stylesheet" href="/app/topwap/tvshopping/lib/mescroll/mescroll.min.css">
<link rel="stylesheet" href="/app/topwap/tvshopping/lib/public.css">
<{script app="topshop" src="lib/jquery.min.js"}>
<{script app="topshop" src="lib/ckplayer.min.js"}>
<{script src="jquery.lazyload.min.js" app="site"}>
<{css src="icon/iconfont.css" app="topwap"}>