<div class="tableform">
    <a href="<{$url}>" target="dialog::{title:'创客信息编辑', width:500, height:280}">
        <span class="btn btn-default btn-sm">创客信息编辑</span>
    </a>
    <div class="division">
        <table width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <th><label><{t}>创客姓名：<{/t}></label></th>
                <td><{$data.name|escape:'html'}></td>
                <th><label><{t}>手机号：<{/t}></label></th>
                <td><{$data.mobile}></td>
            </tr>
            <tr>
                <th><label><{t}>身份证号：<{/t}></label></th>
                <td><{$data.id_card_no}></td>
                <th><label><{t}>户口所在地：<{/t}></label></th>
                <td><{$data.registered}></td>
            </tr>
            <tr>
                <th><label><{t}>推荐人：<{/t}></label></th>
                <td><{$data.pname|escape:'html'}></td>
                <th><label><{t}>推荐人ID：<{/t}></label></th>
                <td><{$data.pid}></td>
            </tr>
            <tr>
                <th><label><{t}>创客店铺名称：<{/t}></label></th>
                <td><{$data.shop_name}></td>
            </tr>
        </table>
    </div>
</div>
