<h2 class="head-title">新品推荐</h2>
<div class="tableform cate_item_floor">
    <div class="widgetconfig">
        <table width="100%" cellpadding="0" cellspacing="0">
            <tbody>

            <tr>
                <th>
                    <{t app='sysmall' }>商品选择方式：
                    <{/t}>
                </th>
                <td>
                    <input type="radio" name='select_item_type' <{if $setting.select_item_type == '1' || $setting.select_item_type == ''}>checked<{/if}> id="" value="1">自动选择
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name='select_item_type' <{$setting.select_item_type == '2' ? 'checked' : '' }> id="seleceitem" value="2">手动选择
                </td>
            </tr>

            <tr class="order_tr" style="<{if $setting.select_item_type == '2'}>display: none;<{/if}>">
                <th>
                    <{t app='sysmall' }>商品排序方式：
                    <{/t}>
                </th>
                <td>
                    <input type="radio" name='order' <{if $setting.order == '1' || $setting.order == ''}>checked<{/if}> value="1">上新时间降序
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <!--<input type="radio" name='order' <{if $setting.order == '2'}>checked<{/if}> value="2">销量降序-->
                </td>
            </tr>

            <tr class="item_tr" style="<{if $setting.select_item_type == '1' || $setting.select_item_type == ''}>display: none;<{/if}>">
                <th>
                    <{t app='sysmall' }>选择商品：
                    <{/t}>
                </th>
                <td>
                    <{input type="object" value=$setting.item object="item" app="sysmall" filter="status=onsale" name="item" obj_filter="" select="checkbox"
                    vtype="" multiple="true" textcol="title" }>

                </td>
            </tr>



            </tbody>
        </table>
    </div>
</div>
<script>
    /*function addPic(icon) {
        var goto_url = encodeURIComponent(
            '<{url route="shopadmin" app="image" ctl="admin_manage" act="image_broswer" type="big"}>');
        var url = '<{url route="shopadmin" app="desktop" act="alertpages" goto=""}>' + goto_url;
        Ex_Loader('modedialog', function () {
            return new imgDialog(url, {
                onCallback: function (image_id, image_src) {
                    $(icon).value = image_src;
                }
            });
        });
    }*/

    $$('.cate_item_floor input[name=select_item_type]').addEvent('change',function(){
        var radio  = this;
        if(this.value == '1'){
            $$(".item_tr").hide();
            $$(".order_tr").show();
        }else{
            $$(".item_tr").show();
            $$(".order_tr").hide();
        }
    });


</script>