<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="<{resource app='topmaker' path='/lib/common/flexible.js'}>"></script>
    <link rel="stylesheet" href="<{resource app='topmaker' path='/lib/common/public.css'}>">
    <link rel="stylesheet" href="<{resource app='topmaker' path='/css/styleSheet.css'}>">
    <title><{if !empty($seller.shop_name)}><{$seller.shop_name}><{else}>创客店铺首页<{/if}></title>
    <style>
        .user-center .vmwarp .nav li .up {
            border: 1px solid #818181;
            border-top: 0;
            border-left: 0;
        }
        .user-center .vmwarp .nav li .active{
            border: 1px solid #4d9fff;
            border-top: 0;
            border-left: 0;
        }
        .search-form{
            width:100%;
            height:100%;
        }
        .user-center .search input{
            box-sizing: border-box;
            -webkit-appearance: none;
        }
        .user-center .vmwarp .nav li.font-color-active{
            color:#4d9fff;
        }
        #qrcode {
            width: 0.4rem;
            height: 0.4rem;
            display: inline-block;
            margin-top: 0.38rem;
            margin-left: 0.2rem;
            overflow: hidden;
            position: relative;
        }
        canvas{
            position:absolute;
            left:0;
            top:0;
        }
        .code-pos{
            position: relative;
            top: -0.1rem;
        }
    </style>
</head>
<body>
<div class="user-center">
    <div id="mescroll" class="mescroll">
        <div class="user-center-top">
            <img class="bg" src="<{$seller.shop_brand|storager:'m'}>">
            <div class="user-center-des">
                <div class="photo-shadow">
                    <img class="photo" src="<{$seller.avatar|storager:'m'}>">
                </div>
                <span><{$seller.shop_name}></span>
                <ul class="user-center-tab">
                    <li class="posi">
                        <div class="num"><{$count}></div>
                        <div class="tit">全部商品</div>
                        <i class="line"></i>
                    </li>
                    <li>
						<a href="<{url action=topmaker_ctl_index@share seller_id=$seller_id}>">
							<div class="tit code-pos">二维码</div>
							<div id="qrcode"></div>
						</a>
                        <!--<img src="">-->
                    </li>
                </ul>
            </div>
        </div>
        <div class="scroll-fix">
            <div class="search">
                <div class="default">
                    <span><i></i>输入关键字</span>
                </div>
                <form class="search-form" action="#">
                    <input class="keyword hide" type="search" placeholder="输入关键字">
                </form>
            </div>
            <div class="vmwarp">
                <div class="div-nav">
                    <ul class="nav">
                        <li i=0 class="font-color-active">
                            价格
                            <div class="sort-wrap">
                                <span class="sort up active" i=1></span>
                                <span class="sort down" i=2></span>
                            </div>
                        </li>
                        <li i=3>销量</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--展示上拉加载的数据列表-->
        <ul id="dataList" class="data-list" style="overflow: hidden;">
        </ul>
    </div>
</div>
<{include file="topwap/index.html"}>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="<{resource app='topmaker' path='/lib/mescroll/mescroll.js'}>" type="text/javascript" charset="utf-8"></script>
<script src="/app/topwap/statics/static/js/jquery.qrcode.min.js"></script>
<script>
    $('#qrcode').qrcode({
        render: "canvas",
        width: 20,
        height:20,
        text: '<{url action=topwap_ctl_maker_index@home seller_id=$seller.seller_id}>',
    });

    $(function(){
        $('.search .default').on('click',function(){
            $(this).addClass('hide');
            $('.search .keyword').removeClass('hide').focus();
        });
        //初始化首页
        var mescroll = new MeScroll("mescroll", {
            up: {
                callback: upCallback,
                lazyLoad:{
                    use:true//启动懒加载
                },
                isBounce: false,
                noMoreSize: 4, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
                toTop:{ //配置回到顶部按钮
                    src : "<{resource app='topmaker' path='/images/userCenter/mescroll-totop.png'}>", //默认滚动到1000px显示,可配置offset修改
                    //html: null, //html标签内容,默认null; 如果同时设置了src,则优先取src
                    //offset : 1000
                },
                clearEmptyId: "dataList", //相当于同时设置了clearId和empty.warpId; 简化写法;默认null; 注意vue中不能配置此项
                empty:{ //配置列表无任何数据的提示
                    icon : "<{resource app='topmaker' path='/images/userCenter/mescroll-empty.png'}>",
                    tip: "暂无商品", //提示
                },
            }
        });
        /*初始化菜单*/
        var pdType=1;//价格1 2; 销量3;
        $(".nav li").click(function(){
            var i=$(this).attr("i");
            $(this).addClass('font-color-active').siblings().removeClass('font-color-active');
            if(i==0){
                if( $(".nav li .up").hasClass('active')){
                    $(".nav li .up").removeClass("active");
                    $(".nav li .down").addClass('active');
                }else{
                    $(".nav li .up").addClass("active");
                    $(".nav li .down").removeClass('active');
                }
                if($(".nav li .up").hasClass("active")){
                    i=1
                }else{
                    i=2
                }
            }else{
                $(".nav li .up").removeClass('active');
                $(".nav li .down").removeClass('active');
            }
            //更改列表条件
            pdType=i;
            console.log(pdType);
            //重置列表数据
            mescroll.resetUpScroll();
        })
        function upCallback(page){
            getListDataFromNet(pdType, page.num, page.size, function(curPageData) {
                //console.log("pdType="+pdType+", page.num="+page.num+", page.size="+page.size+", curPageData.length="+curPageData.length);
                mescroll.endSuccess(curPageData.length);
                setListData(curPageData);
            }, function() {
                //联网失败的回调,隐藏下拉刷新和上拉加载的状态;
                mescroll.endErr();
            });
        }
        function getListDataFromNet(pdType,pageNum,pageSize,successCallback,errorCallback) {
            setTimeout(function () {
                var keywords = '';
                if(keywordFlag) {
                    keywords = searchName;
                }
                $.ajax({
                    type: 'GET',
                    url: '<{url action=topwap_ctl_maker_index@ajaxGetSellerItemList}>',
                    data: {sellerId: '<{$seller.seller_id}>',keywords: keywords, order_by: pdType, pages: pageNum, page_size: pageSize},
                    // url: '../res/pdlist1.json?curNavIndex='+curNavIndex+'&num='+pageNum+'&size='+pageSize,
                    dataType: 'json',
                    success: function(data){
                        var listData=[];
                        for (var i = 0; i < data.length; i++) {
                            listData.push(data[i]);
                        }
                        // if(pdType==1 || pdType == 2){//价格
                        //     //模拟分页数据
                        //     for (var i = (pageNum-1)*pageSize; i < pageNum*pageSize; i++) {
                        //         if(i==data.length) break;
                        //         listData.push(data[i]);
                        //     }
                        // }else if(pdType==3){//销量
                        //     for (var i = 0; i < data.length; i++) {
                        //         listData.push(data[i]);
                        //         if (data[i].pdName.indexOf("奶粉")!=-1) {
                        //             listData.push(data[i]);
                        //         }
                        //     }
                        // }

                        //回调
                        successCallback(listData);
                    },
                    error: errorCallback
                });
            },1000)
        }
        function setListData(curPageData){
            var listDom=document.getElementById("dataList");
            for (var i = 0; i < curPageData.length; i++) {
                var pd=curPageData[i];
                var str='<div class="data-list-warp">';
                str+='<a href="<{url action=topwap_ctl_item_detail@index}>?item_id='+pd.item_id+'&seller_id=<{$seller_id}>">';
                str+='<div class="product-img"><img src="'+pd.image_default_id+'" imgurl="'+pd.image_default_id+'"></div>';
                str+='<div class="tit">'+pd.title+'</div>';
                str+='<div class="price">￥<span>'+pd.price+'</span></div>';
                str+='</a>';
                str+='</div>';
                var liDom=document.createElement("li");
                liDom.innerHTML=str;
                listDom.appendChild(liDom);
            }
        }
        document.getElementsByClassName("mescroll")[0].onscroll = function() {
            var scroll_top = document.getElementsByClassName("mescroll")[0].scrollTop;
            var user_center_height=$(".user-center-top").height();
            // console.log(scroll_top,user_center_height);
            if(scroll_top>=user_center_height){
                $('.scroll-fix').addClass('posi-fixed');
                $("#dataList").css('padding-top','1.8rem');
            }else{
                $('.scroll-fix').removeClass('posi-fixed');
                $("#dataList").css('padding-top','0');
            }
        };
        var keywordFlag=false;
        var searchName;
        $(".keyword").on('keypress',function(e) {
            var keycode = e.keyCode;
            if(keycode=='13') {
                e.preventDefault();
                //请求搜索接口
                searchName = $(this).val();
                keywordFlag=true;
                mescroll.resetUpScroll();
            }
        });
    })
</script>
</body>
</html>
