<{css app="topshop" src="bootstrap-switch.min.css"}>
<{css app="topshop" src="bootstrap-editable.css"}>
<aside class="control-sidebar control-sidebar-light" style="height: 100%;">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li class=""><a href="#">筛选</a></li>
        <li class=""><a href="#" data-toggle="control-sidebar"><i class="glyphicon glyphicon-remove"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <form action="<{url action=topshop_ctl_miniprogram_goods@goodSearch}>" method="get" id="search-form">

            <div class="box-body">
                <div class="form-group">
                    <label>商品名称：</label>
                    <input type="text" id="name" name="good_name" class="form-control" <{if $search_keywords.good_name}> value="<{$search_keywords.good_name|escape:"html"}>" <{/if}> placeholder="请输入 ...">
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button id="reset" type="button" class="btn btn-default">重置</button>
                <button type="submit" class="btn btn-info pull-right">搜索</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</aside>

<div class="box box-primary">
    <a href="<{url action=topshop_ctl_miniprogram_goods@edit type=1}>" class="btn btn-default btn-sm text-light-blue"><i class="fa fa-plus-square-o"></i> 添加小程序活动</a>
    <a href="<{url action=topshop_ctl_miniprogram_goods@edit type=2}>" class="btn btn-default btn-sm text-light-blue"><i class="fa fa-plus-square-o"></i> 添加小程序限量购券</a>
    <li class="pull-right header">
        <div class="btn-group">
            <button data-toggle="control-sidebar" class="btn btn-default">
                <div class="text-light-blue">
                    <i class="fa fa-search"></i>
                    搜索
                </div>
            </button>
        </div>
    </li>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>商品标题</th>
            <th>商品类型</th>
            <th>商家名称</th>
            <th>商品名称</th>


            <th>标签</th>
            <th>是否显示</th>
            <th>排序</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <{foreach from=$data.data item=item}>
        <tr>
            <td><{$item.mini_program_good_id}></td>
            <td><{$item.good_name}></td>
            <td><{$item.typeinfo}></td>
            <td><{$item.shop_name}></td>
            <td><{$item.selectdGoodInfo}></td>


            <td><{$item.good_tags}></td>
            <td><input name="disabled" type="checkbox" data-id="<{$item.mini_program_good_id}>" <{if $item.disabled==0}>checked="checked"<{/if}>></td>
            <td style="width: 150px;">
                <!--<{$item.order_sort}>-->
                <a href="#" class="order_sort" data-pk="<{$item.mini_program_good_id}>" data-url="<{url action=topshop_ctl_miniprogram_goods@order_sort}>" data-type="text" data-title="编辑排序"><{$item.order_sort}></a>
            </td>
            <td>
                <a href="<{url action=topshop_ctl_miniprogram_goods@edit mini_program_good_id=$item.mini_program_good_id type=$item.type}>">编辑</a>&nbsp;<br>
                <a href="<{url action=topshop_ctl_miniprogram_goods@delete mini_program_good_id=$item.mini_program_good_id type=$item.type}>" class="remove text-danger" >删除</a>
            </td>
        </tr>
        <{/foreach}>
        </tbody>
    </table>
    <div class="text-right">
        <{pagers data=$pagers}>
        <{if $pagers.total > 0 }>
        <span class="page-number">共&nbsp;<em class="text-aqua"><{$total}></em>&nbsp;条记录</span>
        <{/if}>
    </div>
</div>

<!-- Modal -->
<!--<div class="modal fade" id="modifyAccountShopPwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改线下店帐号密码</h4>
            </div>
            <form  action="<{url action=topshop_ctl_account_supplier@modifyPwdAgentShop}>" method="post" class="form-horizontal" data-validate-onsuccess="ajaxSubmit" id="form_delivery" role="form">
                <div class="modal-body">
                    <input type="hidden" class='agent-shop-id' name="agent_shop_id" value="">
                    <input type="hidden" value="<{$supplier_id}>" name="supplier_id" id="supplier_id">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" >重置密码：</label>
                        <div class="col-sm-6">
                            <input type="password" name="login_password" class="form-control" placeholder="6-20个字符,不能纯数字,字母" required maxlength="20" data-validate-length-min="6" pattern="^(?!\d+$|[a-zA-Z]+$)[^\u4e00-\u9fa5]*$" data-validate-regexp-message="不能纯数字、字母">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" >确认密码：</label>
                        <div class="col-sm-6">
                            <input  name='psw_confirm' type='password' placeholder="确认重置密码" maxlength="20" required data-validate-equalto-field="login_password" data-validate-equalto-message="两次密码输入不一致" class="form-control" >
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>-->
<{script app="topshop" src="bootstrap-switch.min.js"}>
<{script app="topshop" src="bootstrap-editable.min.js"}>
<script>
    $(function(){
        $("[name='my-checkbox']").bootstrapSwitch();
        $("[name='my-checkbox']").on('switchChange.bootstrapSwitch',function(event,state){
            var agent_shop_id = $(this).parents('.top-switch').data('agent-shop-id');
            var url = '<{url action=topshop_ctl_supplier_list@top}>';
            $.post(url,{'agent_shop_id':agent_shop_id,'state':state},function (data) {
                if(data.success === true)
                {
//                            dialog.alert(data.message);
//                            swal({
//                                title: data.message,
//                                timer: 1000,
//                                showConfirmButton: false
//                            });
                }
                else {
                    alert(data.message);
                }
            },'json');
        });
        $('.order_sort').editable({
            success: function(response, newValue) {
                if (response.error == true)
                {
                    return response.message;
                }
                window.location.reload();
            },
            error: function(response, newValue) {
                if(response.status === 500) {
                    return '服务器错误';
                } else {
                    return response.responseText;
                }
            }
        });
    });
    $('#reset').click(function () {
        $('#name').val('');
    });

    $('#modifyAccountShopPwd').on('show.bs.modal', function (event) {
        var agent_shop_id = $(event.relatedTarget).attr("data-agent-shop-id");
        $(".agent-shop-id").val(agent_shop_id);
    })

    $('.remove').on('click', function(e) {
        var _this = $(this);
        e.preventDefault();
        Modal.confirm({msg: "确定删除该账号吗？"}).on(function(e) {
            if(e==true) {
                var href = _this.attr('href');
                $.get(href, function(rs) {
                    if(rs.error) {
                        $('#messagebox').message(rs.message);
                        return;
                    }else{
                        $('#messagebox').message(rs.message, 'success');
                    }

                    if(rs.redirect) {
                        setTimeout(function(){location.href=rs.redirect;}, 800);
                    }

                });
            }
        });
    });

    function ajaxSubmit (e) {
        var form = e.target;
        e.preventDefault();
        $.post(form.action, $(form).serialize(), function(rs) {
            if(rs.error) {
                $('#messagebox').message(rs.message);
                return;
            }
            if(rs.success) {
                $('#messagebox').message(rs.message, 'success');
            }
            if(rs.redirect) {
                location.href = rs.redirect;
            }
        });
    }

</script>
<script>
    $('[name="disabled"]').bootstrapSwitch({
        onText:"启用",
        offText:"禁用",
        size:"mini",
        onSwitchChange:function(event,state){
            var id = $(this).data('id')
            var url = "<{url action=topshop_ctl_miniprogram_goods@setDisabled}>";
            var data = {'good_id':id};
            if(state==true){
                data.disabled = 0;
            }else{
                data.disabled = 1;
            }

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: "json",
                success: function(rs) {
                    if(rs.error) {
                        $('#messagebox').message(rs.message);
                    }
                    if(rs.success) {
                        $('#messagebox').message(rs.message, 'success');
                    }
                },
                error: function() {
                    $('#messagebox').message('操作失败');
                }
            });
        }
    })
</script>
