<aside class="control-sidebar control-sidebar-light" style="height: 100%;">
  <!-- Create the tabs -->
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li class=""><a href="#">筛选</a></li>
    <li class=""><a href="#" data-toggle="control-sidebar"><i class="glyphicon glyphicon-remove"></i></a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <form action="<{url action=topshop_ctl_mall_maker@index}>" method="get" id="search-form">
		<input type='hidden' name='seller_id' value='<{$seller_id}>'>
      <div class="box-body">
        <!-- text input -->
        <div class="form-group">
          <label>创客姓名：</label>
          <input type="text" id="seller_name" name="seller_name" class="form-control" value="<{$seller_name|escape:"html"}>" placeholder="请输入 ...">
        </div>
		
        <div class="form-group">
          <label>车牌号：</label>
          <input type="text" id="cart_number" name="cart_number" class="form-control" value="<{$cart_number|escape:"html"}>" placeholder="请输入 ...">
        </div>

        <div class="form-group">
          <label>审核状态：</label>
		  <select  class="form-control pull-right" id="status" name="status">
			<option value="" <{if !$status}>selected<{/if}>>请选择</option>
			<option value="pending" <{if $status=='pending'}>selected<{/if}>>审核中</option>
			<option value="success" <{if $status=='success'}>selected<{/if}>>已通过</option>
			<option value="refuse" <{if $status=='refuse'}>selected<{/if}>>拒绝</option>
		  </select>
        </div>
        <!--<div class="form-group">
          <label>电话：</label>
          <input type="text" id="mobile" name="mobile" class="form-control" value="<{$mobile|escape:"html"}>" placeholder="请输入 ...">
        </div>-->
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button id="reset-form" type="button" class="btn btn-default">重置</button>
        <button type="submit" class="btn btn-info pull-right">搜索</button>
      </div>
      <!-- /.box-footer -->
    </form>
  </div>
</aside>


<div class="box box-primary">
  <div class="mailbox-controls with-border">
    <a href="<{url action=topshop_ctl_mall_maker@cash seller_id=$seller_id}>" class="btn btn-default btn-sm text-light-blue"><i class="fa fa-plus-square-o"></i>创客提现</a>
    <span class="text-primary">待审核总额：<{$paymentPendingCount|cur}>；已打款总额：<{$paymentSuccessCount|cur}></span>

    <div class="btn-group" style="float:right;">
      <button data-toggle="control-sidebar" class="btn btn-default">
        <div class="text-light-blue">
          <i class="fa fa-search"></i>
          搜索
        </div>
      </button>
    </div>
  </div>
  <li class="pull-right header">

  </li>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>创客姓名</th>
        <th>手机号</th>
        <th>车牌号</th>
        <th>提现金额</th>
        <th>银行卡信息</th>
        <th>审核状态</th>
        <th>提现类型</th>
        <th>申请时间</th>
        <th>审核时间</th>
        <th>打款时间</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
    </thead>
    <{if $data}>
    <tbody>
      <{foreach from=$data item=item}>
		<tr>
		  <td><{$item.name}></td>
		  <td><{$item.mobile}></td>
		  <td><{$item.cart_number}></td>
          <td><{$item.payment|cur}></td>
          <td><{$item.bank_name}>-<{$item.card_number}>-<{$item.bank_seller_name}></td>
          <td><{if $item.status=='success'}>通过<{elseif $item.status=='pending'}>审核中<{else}>拒绝<{/if}></td>
          <td><{$item.type=='sys'?'后台提现':'创客申请'}></td>
          <td><{$item.create_time|date:'Y-m-d H:i:s'}></td>
          <td><{$item.check_time|date:'Y-m-d H:i:s'}></td>
          <td><{$item.pay_time|date:'Y-m-d H:i:s'}></td>
		  <td><{$item.remark}></td>
          <td>
			<{if $item.status=='pending'}>
				<button type="button" class="btn btn-primary btn-sm" data-cash-id=<{$item.id}> data-toggle="modal" data-target="#modifyAccountShopPwd" style='padding:0 5px'>审核</button>
			<{else}>
				<!--已通过-->
			<{/if}>
		  </td>
		</tr>
      <{/foreach}>
    </tbody>
    <{else}>
    <tbody id="none_cat">
      <tr class="none-information">
        <td colspan="6"><p class="help-block text-center">暂无数据</p></td>
      </tr>
    </tbody>
    <{/if}>
  </table>
  <div class="text-right">
    <{pagers data=$pagers}>
    <{if $count > 0}>
    <span class="page-number">共&nbsp;<em class="text-aqua"><{$count}></em>&nbsp;条记录</span>
    <{/if}>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modifyAccountShopPwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">提现审核</h4>
      </div>
      <form  action="<{url action=topshop_ctl_mall_maker@cashAudit}>" method="post" class="form-horizontal" data-validate-onsuccess="ajaxSubmit" id="form_delivery" role="form">
        <div class="modal-body">
          <input type="hidden" class='cash-id' name="id" value="">
          <div class="form-group">
            <label class="col-sm-4 control-label" >审核：</label>
            <div class="col-sm-6">
				<label style='cursor:pointer;margin-right:10px'>通过<input name='status' type='radio' value='success'></label>
				<label style='cursor:pointer;'>拒绝<input name='status' type='radio' value='refuse'></label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label" >结算方式：</label>
            <div class="col-sm-6">
				<label style='cursor:pointer;margin-right:10px'>线上付款到微信钱包<input name='settlementType' type='radio' value='1'></label>
				<label style='cursor:pointer;'>线下付款<input name='settlementType' type='radio' value='2'></label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label" >备注：</label>
            <div class="col-sm-6">
				<textarea name="remark" style="width:260px;height:80px"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>

  $('#reset-form').click(function () {
      $('#seller_name').val('');
      $('#status').val('');
      //$('#mobile').val('');
      $('#cart_number').val('');
  });

  $('#modifyAccountShopPwd').on('show.bs.modal', function (event) {
    var cash_id = $(event.relatedTarget).attr("data-cash-id");
    $(".cash-id").val(cash_id);
  })


function ajaxSubmit (e) {
  var form = e.target;
  e.preventDefault();
  $.post(form.action, $(form).serialize(), function(rs) {
    if(rs.error) {
      $('#messagebox').message(rs.message);
      return;
    }
    if(rs.success) {
      $('#messagebox').message(rs.message, 'success');
	  window.location.reload();
    }
    if(rs.redirect) {
      location.href = rs.redirect;
    }
  });
}


$('.remove').on('click', function(e) {
  var _this = $(this);
  e.preventDefault();
  Modal.confirm({msg: "确定删除该账号吗？"}).on(function(e) {
    if(e==true) {
      var href = _this.attr('href');
      $.get(href, function(rs) {
        if(rs.error) {
          $('#messagebox').message(rs.message);
          return;
        }else{
          $('#messagebox').message(rs.message, 'success');
        }

        if(rs.redirect) {
          setTimeout(function(){location.href=rs.redirect;}, 800);
        }

      });
    }
  });
});

</script>
