<div class="nodata-wrapper">
	<div class="nodata-layout" style="top:40%">
	  <div class="nodata-icon" style="background:none;width:9rem;height:9rem"><img style="width:100%" src="<{$image_default_id['S']['default_image']}>"></div>
	  <div class="nodata-tip">抱歉没有相关商品</div>
	  <div class="nodata-tip" style="font-size:18px;font-weight:bold;color:#666">去下面逛逛</div>
	  <div class="nodata-guide"><a class="shopex-linkto shopex-btn" href="<{url action=topwap_ctl_item_list@index search_keywords=$search_keywords}>" style="color:#666">前往广电生活圈</a></div>
	</div>
</div>
