<app>
    <name>多店铺商城中心系统</name>
    <type>service</type>
    <description>提供多店铺商城基本功能</description>

    <author>
        <name>广电开发(PHP Team)</name>
        <email>xinyflove@sina.com</email>
        <url>http://qtv.tvplaza.cn</url>
    </author>
	
	<parent_model_class>dbeav_model</parent_model_class>

    <version>0.1</version>
    <license>shopex license</license>
    
    <depends>
        <app>desktop</app>
		<app>pam</app>
    </depends>
	
</app>