<!DOCTYPE html>
<html lang="en">
<head>
    <{include file='topshop/tvshopping/common/header.html'}>
    <link rel="stylesheet" href="/app/topwap/tvshopping/css/swiper.min.css?1532055472">
    <link rel="stylesheet" href="/app/topwap/tvshopping/css/index.css?1532055472">
	<link rel="stylesheet" href="/app/topwap/tvshopping/css/qtvLive.css">
    <script src="/app/topwap/tvshopping/js/swiper.min.js?1532055472"></script>
    <script src="/app/topwap/statics/scripts/min/core.min.js?1532055472"></script>
</head>
<body>
<div class="m-lm-index mescroll m-lm-qtvLive" id="mescroll" style="background: #f5f5f5;padding-bottom:0">
<{$widget_html}>
</div>
<{include file='topshop/tvshopping/common/footer.html'}>
</body>
</html>