  <script type="text/html" id="goods3list">
    <div class="decorate-layout-items" id="<%= wid %>" data-widgets="goods3list">
      <div class="widgets-goods-like">
        <!-- <{*<div class="section-title">
          <% if(title != ''){ %>
          <div class="tag-txt"><%= title %></div>
          <% }else{ %>
          <div class="tag-txt">标签</div>
          <% } %>
          <% if(list.length > 6){ %>
          <a href="#"><i class="fa fa-angle-right"></i></a>
          <% } %>
        </div>*}> -->
        <ul class="pro-list-g3lrid">
          <% if(list.length > 0){ %>
          <% for(var i=0; i<list.length; i++){ %>
            <% if(i<60){ %>
            <li>
              <div class="thumb">
                <div class="thumb-img">
                  <a href="<%= list[i].goodslink %>"><img src="<%= list[i].imgurl %>" alt=""></a>
                </div>
                <div class="caption">
                  <h1 class="goods-title"><span class="tag"><%= list[i].goodstag %></span><%= list[i].goodstitle %></h1>
                  <div class="price">
                    <div class="amount CNY"><%= list[i].price %></div>
                    <{*<div class="purchased">已有<%= list[i].soldnum %>人购买</div>*}>
                  </div>
                </div>
              </div>
            </li>
            <% } %>
          <% } %>
          <% }else{ %>
            <li>
              <div class="thumb">
                <div class="thumb-img">
                  <a href="#"><img src="http://placehold.it/180x180" alt=""></a>
                </div>
                <div class="caption">
                  <h1 class="goods-title"><span class="tag">促销</span>商品标题</h1>
                  <div class="price">
                    <div class="amount CNY">¥ 30.00</div>
                    <div class="purchased">已有5人购买</div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="thumb">
                <div class="thumb-img">
                  <a href="#"><img src="http://placehold.it/180x180" alt=""></a>
                </div>
                <div class="caption">
                  <h1 class="goods-title"><span class="tag">促销</span>商品标题</h1>
                  <div class="price">
                    <div class="amount CNY">¥ 30.00</div>
                    <div class="purchased">已有5人购买</div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="thumb">
                <div class="thumb-img">
                  <a href="#"><img src="http://placehold.it/180x180" alt=""></a>
                </div>
                <div class="caption">
                  <h1 class="goods-title"><span class="tag">促销</span>商品标题</h1>
                  <div class="price">
                    <div class="amount CNY">¥ 30.00</div>
                    <div class="purchased">已有5人购买</div>
                  </div>
                </div>
              </div>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </script>
  <script type="text/html" id="goods3list_form">
    <div class="goods3list" data-id="<%= wid %>">
      <h5>商品列表</h5>
      <!-- <{*<div class="form-group">
        <input type="text" name="title" class="form-control" value="<%= title %>" placeholder="展示区域标签">
      </div>*}> -->
      <div class="form-group">
        <p class="help-block">已选择商品</p>
        <div id="selected_goods3list">
          <% if(list.length > 0){ %>
          <table wdith="100%" class="table table-primary table-hover table-goods">
            <tbody>
              <% for(var i=0; i<list.length; i++){ %>
              <tr data-itemid="<%= list[i].item_id %>">
                <td>
                  <input type="hidden" name="item_id[]" value="<%= list[i].item_id %>">
                  <div class="goods">
                    <a href="<%= list[i].goodslink %>" target="_blank">
                      <img src="<%= list[i].imgurl %>" alt="">
                      <span><%= list[i].goodstitle %></span>
                      <span><%= list[i].price %></span>
                    </a>
                  </div>
                </td>
                <td><a class="item-del" href="#">删除</a></td>
              </tr>
              <% } %>
            </tbody>
          </table>
          <% } %>
        </div>
      </div>
      <div class="form-group">
        <a class="btn btn-primary form-control select-goods" href="<{url action=topshop_ctl_selector_item@loadSelectGoodsModal limit=16}>" data-item_id="<{$notEndItem}>" data-limit="50" data-textcol="title,price" data-toggle="modal" data-target="#goods_modal" data-insertwhere="#selected_goods3list" data-fetchgoods="<{url action=topshop_ctl_selector_item@formatSelectedGoodsRow}>">选择商品</a>
      </div>
    </div>
  </script>