<app>
    <name>活动投票管理</name>
    <type>service</type>
    <description>活动投票功能</description>

    <author>
        <name>广电开发</name>
        <email></email>
        <url>http://www.tvplaza.cn/</url>
    </author>

    <version>0.1</version>
    <license>shopex license</license>
    
    <parent_model_class>dbeav_model</parent_model_class>

    <depends>
        <app>desktop</app>
    </depends>
</app>