<style>
  /*角标*/
  .thumb-img .right_logo img{
    width: 3.0rem !important;
    height: 3.0rem !important;
    position: absolute;
    left: 0.3rem;
    top: 0.0rem;
  }
</style>
<{if $items}>
  <{foreach from=$items item=item}>
  <li data-link="<{url action=topwap_ctl_item_detail@index item_id=$item.item_id}>">
    <div class="thumbnail">
      <div class="thumb-img">
        <{if $item.image_default_id}>
          <a href="#"><img src="<{$item.image_default_id|storager:'m'}>" alt=""></a>
        <{else}>
          <a href="#"><img src="<{$image_default_id.M.default_image|storager}>" alt=""></a>
        <{/if}>
        <{if ($item.store-$item.freez) < 1 }>
        <!-- 已售罄 -->
        <div class="soldout">
          <img src="<{$sell_out_img|storager}>" alt="">
        </div>
        <{/if}>

        <{if $item.right_logo}>
        <!-- 角标 -->
        <div class="right_logo">
          <img src="<{$item.right_logo|storager}>" alt="">
        </div>
        <{/if}>

      </div>
      <div class="caption">
        <h1 class="goods-title">
          <{if $item.activity.activity_tag}>
          <span class="tag"><{$item.activity.activity_tag}></span>
          <{/if}>
          <{$item.title}>
        </h1>

        <span class="shopex-ellipsis"><img src="<{$item.mold_log}>" alt="" id="mold_logo"><{$item.shop_id|shopname}></span>
        <div class="price">
          <div class="amount"><{$item.price|cur}></div>
        </div>
        <{if $item.promotion || $item.gift}>
        <div class="tags-group">
          <{foreach from=$item.promotion item=promotionRow}>
          <{if $promotionRow.tag}>
          <a href="" class="tag tag-outline"><{$promotionRow.tag}></a>
          <{/if}>
          <{/foreach}>
          <{if $item.gift}>
          <a href="" class="tag tag-outline">赠品</a>
          <{/if}>
        </div>
        <{/if}>
      </div>
    </div>
  </li>
  <{/foreach}>
<{/if}>
