<div class="modal fade" tabindex="-1" role="dialog" id="agentShopDialog">
	<div class="modal-dialog modal-lg agent-shop-modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="brand-select">
					<div class="col-md-12">
						<div class="input-group">
							<span class="input-group-addon" id="agent-shop-ser"
								style="cursor: pointer;"> <i class="icon icon-search-a"></i>
							</span> <input type="search" name="search_agent-shop"
								id="search_agent-shop" class="form-control" placeholder="供应商名称">
						</div>
						<div class="list-group list-agent-shop">
							
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="agent-shop-save" class="btn btn-primary">保存</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>