<div class="modal fade" tabindex="-1" role="dialog" id="dlytmplDialog">
	<div class="modal-dialog modal-sm dlytmpl-modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
				</button>
				<h4 class="modal-title">选择运费模板</h4>
			</div>
			<div class="modal-body">
				<div class="brand-select">
					<div class="col-md-12">
						<div class="input-group">
							<span class="input-group-addon">
							<i class="icon icon-search-a"></i>
							</span> 
							<input type="search" name="search_dlytmpl" id="search_dlytmpl" class="form-control">
						</div>
						<div class="list-group list-group-select list-group-dlytmpl">

						</div>
					</div>
					<div class="cat-select-foot dlytmpl-foot">
						<b>当前选择：</b><span></span>
						<input type="hidden" name="">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">保存</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>