<table class="table table-hover">
	<thead>
		<tr>
			<th>供应商简称</th>
			<th>公司名称</th>
			<th>地址</th>
			<th>来源</th>
			<th>选择</th>
		</tr>
	</thead>
	<{if $data}>
	<tbody>
		<{foreach from=$data item=item}>
		<tr>
			<td class="supplier_name"><{$item.supplier_name}></td>
			<td><{$item.company_name}></td>
			<td title="<{$item.addr}>"><{$item.addr|cut:60}></td>
			<td>
                <{if $item.shop_id==$shopid}>当前店铺
                <{else}>其他店铺
                <{/if}>
            </td>
			<td><input type="radio"<{if $type=='mode'}> name="modesupplier-info"<{else}> name="supplier-info"<{/if}> class="supplier-info" value="<{$item.supplier_id}>"/></td>
		</tr>
		<{/foreach}>
	</tbody>
	<{else}>
	<tbody id="none_cat">
		<tr class="none-information">
			<td colspan="6"><p class="help-block text-center">暂无数据</p></td>
		</tr>
	</tbody>
	<{/if}>
</table>