<{foreach from=$vouchers item=voucher}>
<div class="m-voucher-body">
	<!-- bottom circle position -->
	<div class="circle_bottom_left"></div>
	<div class="circle_bottom_right"></div>
	<!-- top content -->
	<div class="m-voucher-top">
		<!-- figure -->
		<dl class="shopex-clearfix">
			<dt class="shopex-pull-left">
				<a class="iitem" href="<{url action=topwap_ctl_item_detail@index item_id=$voucher.item_id}>"><img src="<{$voucher.pic_path|storager:t}>" alt=""></a>
			</dt>
			<dd>
				<h3 class="shopex-ellipsis-2"><a class="iitem" href="<{url action=topwap_ctl_item_detail@index item_id=$voucher.item_id}>"><{$voucher.item_title}></a></h3>
                <p><{$voucher.spec_nature_info}></p>
				<p>有效期至：<{$voucher.end_time}></p>
				<{if $voucher.status=='WRITE_FINISHED'}>
				<p>使用日期：<{$voucher.write_time|date_format:'%Y.%m.%d'}></p>
				<{/if}>
				<{if $status == 0 && $voucher.status=='WAIT_WRITE_OFF' && $voucher.type!='history'}>
				<!--未使用+未核销+卡券类型不为history-->
				<div class="tipblock shopex-clearfix">
					<span class="shopex-pull-left shopex-block">可赠送</span>
					<div class="shopex-pull-right shopex-block zsBox give_other" data-id="<{$voucher.voucher_id}>" data-url="<{url action=topwap_ctl_give@index voucher_id=$voucher.voucher_id user_id=$voucher.user_id}>" data-image="<{$voucher.pic_path}>" data-title="<{$voucher.item_title}>">赠送<input type="radio" name="zs" style="opacity: 0;" class="zs" value=1></div>
				</div>
				<{elseif $voucher.status=='GIVING'}>
				<!--赠送中-->
				<div class="tipblock shopex-clearfix">
					<span class="shopex-pull-left shopex-block">赠送中</span>
					<div class="shopex-pull-right shopex-block zsBox revoke" style="margin-top:0" data-id="<{$voucher.voucher_id}>">撤销赠送</div>
				</div>
				<img src="/app/topwap/statics/static/img/voucher_zsz.png" alt="" class="voucher_zsz">
				<{elseif $voucher.status=='GIVEN'}>
				<!--已赠送-->
					<img src="/app/topwap/statics/static/img/voucher_yzs.png" alt="" class="voucher_yzs">
				<{elseif $voucher.status=='WRITE_FINISHED'}>
				<!--已使用-->
					<img src="/app/topwap/statics/static/img/voucher_ysy.png" alt="" class="voucher_ysy">
				<{elseif $voucher.status=='REFUNDING'}>
				<!--退款中-->
				<div class="tipblock shopex-clearfix">
					<span class="shopex-pull-left shopex-block">退款中</span>
				</div>
				<img src="/app/topwap/statics/static/img/voucher_tkz.png" alt="" class="voucher_tkz">
				<{elseif $voucher.status=='SUCCESS'}>
				<!--已退款-->
				<img src="/app/topwap/statics/static/img/voucher_ytk.png" alt="" class="voucher_ytk">
				<{elseif $status == 4}>
				<!--已过期-->
				<img src="/app/topwap/statics/static/img/voucher_ygq.png" alt="" class="voucher_ygq">
				<{/if}>
				<{if $voucher.status=='WAIT_WRITE_OFF' && $status == 0}>
				<!--未使用+未核销-->
				<img data-voucher-code="<{$voucher.voucher_code}>" src="/app/topwap/statics/static/img/voucher_ewm.png" class="voucher_ewm">
				<{/if}>
			</dd>
		</dl>
	</div>
	<!-- bottom content -->
	<div class="m-voucher-bottom shopex-clearfix">
		<span class="shopex-pull-left">
			券号
			<{if in_array($voucher.status, array('GIVING','REFUNDING','GIVEN'))}>
			<!--赠送中,退款中,已赠送的券不显示券码-->
			<{$voucher.voucher_code|hide_last}>
			<{else}>
			<{$voucher.voucher_code}>
			<{/if}>
		</span>
		<span class="shopex-pull-right"><{$voucher.shop_name}></span>
	</div>
</div>
<{/foreach}>
<script>

	$('.iitem').on('tap',function(){
		var link=$(this).attr('href');
		window.location.href=link;
	});
</script>