<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="/app/topmaker/statics/lib/common/public.css"  />
    <link rel="stylesheet" type="text/css" href="/app/topmaker/statics/css/styleSheet.css"  />
    <title>创客中心</title>
</head>

<body>
<div class="m-hacker-index">
    <div class="index-head">
        <div class="index-head-content">
            <div>
                <img <{if $seller.avatar}>src="<{$seller.avatar|storager}>"<{else}> src="/app/topmaker/statics/images/gener/headI.png"<{/if}> alt="">

            </div>
            <p>创客姓名：<{$seller.name}> <br>绑定店铺：<{$seller.shop_name}></p>
            <a href="javascript:;" class="index-change">切换账号</a>
        </div>
    </div>
    <div class="index-draw">
        <div class="index-draw-left">
            <p class="left-title">成功提现佣金<img src="/app/topmaker/statics/images/index/icon_m.png" alt=""></p>
            <p class="left-num"><{$commission.has_com|cur}></p>
        </div>
        <div class="index-draw-right">
            <p class="right-title">可提现佣金<img src="/app/topmaker/statics/images/index/icon_m.png" alt=""></p>
            <p class="right-num"><{$commission.cash_com|cur}></p>
        </div>
    </div>
    <ul class="index-data">
        <li>
            <a href="<{$commission_url}>">
                <p><{$seller_commission_count|cur}></p>
                <span>累计佣金</span>
            </a>
        </li>
        <li>
            <a href="<{$my_shop_analyze}>">
                <p><{$today_visit}></p>
                <span>今日访客</span>
            </a>
        </li>
        <li>
            <a href="<{$my_shop_analyze}>">
                <p><{$trade.total}></p>
                <span>历史订单</span>
            </a>
        </li>
    </ul>
    <div class="index-btn">
        <a href="<{$my_shop_url}>">
            <div>
                <img src="/app/topmaker/statics/images/index/icon_d.png" alt="">
            </div>
        </a>
    </div>
    <div class="index-list">
        <ul>
            <li>
                <a href="<{$commission_url}>">
                    <div>
                        <img src="/app/topmaker/statics/images/index/icon1.png" alt="">
                    </div>
                    <p>创客收益</p><!--分销佣金->创客收益-->
                </a>
            </li>
            <li>
                <a href="<{$commission_list_url}>">
                    <div>
                        <img src="/app/topmaker/statics/images/index/icon2.png" alt="">
                    </div>
                    <p>佣金明细</p>
                </a>
            </li>
            <li>
                <a href="<{$my_withdraw_url}>">
                    <div>
                        <img src="/app/topmaker/statics/images/index/icon3.png" alt="">
                    </div>
                    <p>提现明细</p>
                </a>
            </li>
            <li>
                <a href="<{$my_shop_qrcode_url}>">
                    <div>
                        <img src="/app/topmaker/statics/images/index/icon4.png" alt="">
                    </div>
                    <p>推广二维码</p>
                </a>
            </li>
            <li>
                <a href="<{$my_shop_goods_url}>">
                    <div>
                        <img src="/app/topmaker/statics/images/index/icon5.png" alt="">
                    </div>
                    <p>自选商品</p>
                </a>
            </li>
            <li>
                <a href="<{$my_shop_setting_url}>">
                    <div>
                        <img src="/app/topmaker/statics/images/index/icon6.png" alt="">
                    </div>
                    <p>小店设置</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="model hide">
    <div class="pop-up">
        <h2>提示</h2>
        <div class="notice">确认切换账号？</div>
        <ul>
            <li>
                <div class="cancel">取消</div>
            </li>
            <li>
                <div class="commit">确认</div>
            </li>
        </ul>
    </div>

</div>

<script src="/app/topmaker/statics/lib/common/flexible.js"></script>
<script src="/app/topmaker/statics/lib/jquery/jquery-3.2.1.js"></script>

<script>
    $('.index-head .index-change').click(function () {
        $('.model').removeClass('hide');
    });
    $('.model .commit').click(function () {
        window.location.href = '<{url action=topmaker_ctl_passport@logout}>';
        $('.model').addClass('hide');
    });
    $('.pop-up .cancel').on('click', function () {
        $('.model').addClass('hide');
    });
</script>
</body>

</html>