<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="/app/topmaker/statics/lib/common/public.css"  />
    <link rel="stylesheet" type="text/css" href="/app/topmaker/statics/css/styleSheet.css"  />
    <title>创客中心</title>
</head>

<body>
<div class="m-hacker-index">
    <div class="index-head">
        <div class="index-head-content">
            <div>
                <img src="<{$seller.avatar|storager}>" alt="">
            </div>
            <p>主持人：<{$seller.name}> （<{$seller.shop_name}>）</p>
        </div>
    </div>
    <div class="index-draw">
        <div class="index-draw-left">
            <p class="left-title">成功提现佣金<img src="/app/topmaker/statics/images/index/icon_m.png" alt=""></p>
            <p class="left-num">￥8,290.00</p>
        </div>
        <div class="index-draw-right">
            <p class="right-title">可提现佣金<img src="/app/topmaker/statics/images/index/icon_m.png" alt=""></p>
            <p class="right-num">￥529.00</p>
        </div>
    </div>
    <ul class="index-data">
        <li>
            <a href="#">
                <p>￥8319</p>
                <span>累计佣金</span>
            </a>
        </li>
        <li>
            <a href="./todayVisitor.html">
                <p>1350</p>
                <span>今日访客</span>
            </a>
        </li>
        <li>
            <a href="./todayVisitor.html">
                <p>20000</p>
                <span>历史订单</span>
            </a>
        </li>
    </ul>
    <div class="index-btn">
        <a href="">
            <div>
                <img src="/app/topmaker/statics/images/index/icon_d.png" alt="">
            </div>
        </a>
    </div>
    <div class="index-list">
        <ul>
            <li>
                <a href="#">
                    <div>
                        <img src="/app/topmaker/statics/images/index/icon1.png" alt="">
                    </div>
                    <p>分销佣金</p>
                </a>
            </li>
            <li>
                <a href="<{$my_shop_url}>">
                    <div>
                        <img src="/app/topmaker/statics/images/index/icon2.png" alt="">
                    </div>
                    <p>佣金明细</p>
                </a>
            </li>
            <li>
                <a href="./withdraw.html">
                    <div>
                        <img src="/app/topmaker/statics/images/index/icon3.png" alt="">
                    </div>
                    <p>提现明细</p>
                </a>
            </li>
            <li>
                <a href="./gener.html">
                    <div>
                        <img src="/app/topmaker/statics/images/index/icon4.png" alt="">
                    </div>
                    <p>推广二维码</p>
                </a>
            </li>
            <li>
                <a href="<{$my_shop_goods_url}>">
                    <div>
                        <img src="/app/topmaker/statics/images/index/icon5.png" alt="">
                    </div>
                    <p>自选商品</p>
                </a>
            </li>
            <li>
                <a href="<{$my_shop_setting_url}>">
                    <div>
                        <img src="/app/topmaker/statics/images/index/icon6.png" alt="">
                    </div>
                    <p>小店设置</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<script src="/app/topmaker/statics/lib/common/flexible.js"></script>
<script src="/app/topmaker/statics/lib/jquery/jquery-3.2.1.js"></script>

<script>

</script>
</body>

</html>