<!--p>
<span class="btn btn-default"><input type="checkbox" name="" id="selectAll"> 全选</span>
<button type="button" class="btn btn-default text-blue">
  下单时间<i class="icon-arrow-down-a"></i></button>
</p-->
<div class="data-list clearfix">
  <{if $list}>
  <{foreach from=$list item=item}>
  <table class="table table-primary table-goods table-bordered">
    <thead>
    <tr>
      <td colspan="6">
        <span>卡券核销码：<{$item.voucher_code}></span>
        <span>订单号：<{$item.tid}></span>
        <span>
          供应商：<{$item.supplier.company_name}>
        </span>
        <span>下单时间: <{$item.careated_time|cdate}></span>
        <span>核销状态：
            <span class="red">
              <{if $item.status == "HAS_OVERDUE" || $status == 3}>
              已过期
              <{elseif $item.status == "WAIT_WRITE_OFF"}>
              未核销
              <{elseif $item.status == "WRITE_FINISHED"}>
              已核销
              <!--add_2017-11-23_by_xinyufeng_start-->
              <{elseif $item.status == "GIVEN"}>
              已赠送
              <{elseif $item.status == "REFUNDING"}>
              退款中
              <{elseif $item.status == "SUCCESS"}>
              已退款
              <{elseif $item.status == "GIVING"}>
              赠送中
              <!--add_2017-11-23_by_xinyufeng_end-->
              <{else}>
              ---
              <{/if}>
            </span>
          </span>
        <{if $item.status=='WRITE_FINISHED'}>
        <span>
          核销日期：<{$item.write_time|cdate}>
        </span>
        <{/if}>

      </td>
    </tr>
        <{if $item.seller_name}>
        <tr>
            <td colspan="6">
                <span>创客姓名：<{$item.seller_name}></span><span> 手机号：<{$item.seller_mobile}></span>
                <{if $item.seller_cart_number}>
                <span> 车牌号：<{$item.seller_cart_number}></span>
                <{/if}>
            </td>
        </tr>
		<{/if}>
    </thead>
    <tbody>
    <tr>
      <td class="col-1">
        <label class="checkbox-inline">
          <input type="checkbox" value="<{$item.voucher_id}>">&nbsp;
        </label>
      </td>
      <td class="col-2">
        <div class="goods2">
          <div class="left">
            <{if $item.pic_path}>
            <img src="<{$item.pic_path|storager:t}>" alt="<{$item.title}>">
            <{else}>
            <img src="<{$item.item.image_default_id|storager:t}>" alt="<{$item.title}>">
            <{/if}>
          </div>
          <div class="right">
            <a href="<{url action=topc_ctl_item@index item_id=$item.item_id}>"><{$item.item.title}></a>
            <div>价格：<span class="text-orange"><{$item.order.price|cur}></span></div>
          </div>
        </div>
      </td>
      <td class="col-2">
        <div>生效日期：<{$item.start_time|cdate}></div>
        <div>失效日期：<span class="item_end_time"><{$item.end_time|cdate}></span>&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-danger expire_edit pull-right">失效日期修改</button>
          <input type="hidden" class="item_end_id" value="<{$item.voucher_id}>" item_id="<{$item.item_id}>"  end_time="<{$item.end_time}>"></div>
      </td>
      <td class="col-2">
        <div>
          <div>收货人:<{$item.trade.receiver_name}></div>
          <div>收货人手机:<{$item.trade.receiver_mobile}></div>
        </div>
      </td>
      <td class="col-2">
        <div>
          <a href="<{url action=topshop_ctl_trade_detail@index tid=$item.tid}>" target="view_window">查看相关订单</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <{/foreach}>

  <div class="text-right">
    <{pagers data=$pagers}>
    <{if $count > 0}>
    <span class="page-number" style="height: 30px;">共&nbsp;<em class="text-aqua"><{$count}></em>&nbsp;条记录</span>
    <{/if}>
  </div>
  <{else}>
  <p class="text-muted well no-shadow text-center">暂无数据</p>
  <{/if}>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">更改优惠劵有效期</h4>
      </div>
      <div class="modal-body" style="height: 50px;">
          <label class="col-md-3 control-label"><{t}>失效时间<{/t}>：</label>
          <div class="col-sm-5">
            <div class="input-group input-group-sm">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <input type="text" style="margin-top:-1px" class="form-control glyphicon glyphicon-calendar fa fa-calendar calendar reservation" />
            </div>
          </div>
      </div>
      <div class="modal-body" style="height: 70px;">
        <label for="" class="col-sm-9 control-label">是否批量更新(批量更新会更新同一个商品的所有优惠券)：</label>
        <div class="col-sm-10">
          <input class="batch_open" type="radio" name="batch_open" value="1" id="check_radios"> 是
          <input class="batch_open" type="radio" name="batch_open" id="check_radio" checked value="0"> 否
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" id="change_e_time" class="btn btn-primary">提交更改</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>
<script>
    $('.pagination li a').click(function(e){
        e.preventDefault();
        if($(this).parent('li').hasClass('disabled')) return;
        var urlData = $(this).attr('href');
        $(this).parents('.data-list').empty().load(urlData)
    });
    //待修改日期
    var check_time;
    //待修改id
    var check_id;
    //待修改优惠券的商品id
    var check_item_id;
    //当前选择
    $('.reservation').daterangepicker({
        "timePicker": true,
        "autoApply":true,
        "opens": "right",
        "timePicker24Hour": true,
        "timePickerIncrement": 1,
        "singleDatePicker": true,
        "locale": {
            "format": "YYYY/MM/DD HH:mm"
        }
    },function(start, end, label) {
        check_time = this.startDate.format(this.locale.format);
    });

    $('.expire_edit').click(function() {
        $('#myModal').modal('show');
        $('input:radio[name="batch_open"]').removeAttr("checked");
        $('#check_radio').prop("checked",true);
        check_id = $(this).parent().find('.item_end_id').val();
        check_item_id = $(this).parent().find('.item_end_id').attr('item_id');
    });

    $('#change_e_time').click(function () {
        var batch_open = $('input:radio[name="batch_open"]:checked').val();
        if(check_time == undefined)
        {
            alert('请选择时间');
            return false;
        }
        $.post('<{url action=topshop_ctl_trade_voucher@ajaxChangeTime}>',{'voucher_id':check_id,'end_time':check_time,'item_id':check_item_id,'batch_open':batch_open},function(data){
            if(data.status)
            {
                alert(data.message);
            }else{
                alert(data.message);
            }
        },'json');
        $('#myModal').modal('hide');
        location.reload();
    });

</script>
