<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的付款 - 列表</title>
    <{css src="offline_pay.css" app="topwap"}>
</head>

<body style="background-color:#f5f5f5;">
    <header class="page-header pay-header">
        <a href="<{url action=topwap_ctl_member@index}>">
            <i class="header-left icon-func bbc-icon bbc-icon-back"></i>
        </a>
        <div class="header-title">我的付款</div>
    </header>
    <{if !$trade_list}>
    <{include file="topwap/empty/vote.html"}>
    <{else}>
    <div class="shopex-scroll-wrapper" id="pullrefresh">
        <div class="shopex-scroll" data-count="1">
            <div class="payInfo-list">
                <ul>
                    <{foreach from=$trade_list key=key item=trade}>
                    <li>
                        <div class="offline_trade">
                            <h3><{$trade.agent_shop_name}><span class='shopex-pull-right'><font><{$trade.explain}></font></span></h3>
                            <div class="timeMoneySpan shopex-clearfix">
                                <span class="shopex-pull-left">订单号：<{$trade.tid}></span>
                            </div>
                            <{if $trade.cancel_reason}>
                            <div class="timeMoneySpan shopex-clearfix">
                                <span class="shopex-pull-left">关闭原因：<{$trade.cancel_reason}></span>
                            </div>
                            <{/if}>
                            <div class="timeMoneySpan shopex-clearfix">
                                <span class="shopex-pull-left">实付金额：<font>￥<{$trade.payment}></font></span>
                                <span class="shopex-pull-right"><{$trade.pay_time}></span>
                                <img src="<{resource app='topwap' path='/images/icon_rightarrow.png'}>" alt="" id="ns-rightArrow">
                            </div>
                        </div>
                        <div class="payInfo-coupon">
                            <div class="timeMoneySpan">
                                <span>消费金额：￥<{$trade.total_fee}></span>
                            </div>
                            <{if $trade.all_hold_info}>
                            <div class="timeMoneySpan">
                                <span>优惠：<{$trade.all_hold_info.activity_name}></span>
                            </div>
                            <{/if}>
                            <{if $trade.voucher_list}>
                            <div class="timeMoneySpan">
                                <span>优惠券：</span>
                            </div>
                            <a href="<{url action=topwap_ctl_item_detail@index item_id=$trade.voucher_list.item_id}>">
                                <div class="payInfo-coupon-dlList">
                                    <dl>
                                        <dt class="shopex-pull-left">
                                            <img src="<{$trade.voucher_list.item_image|storager}>" alt="">
                                        </dt>
                                        <dd>
                                            <h3><{$trade.voucher_list.title}></h3>
                                            <div style="margin-top:25px;font-size: 13px;"><span><{$trade.voucher_list.count}>张</span><span class="shopex-pull-right">抵扣金额：￥<{$trade.voucher_fee}></span></div>
                                        </dd>
                                    </dl>
                                </div>
                            </a>
                            <{/if}>
                        </div>
                        <{if $trade.status == "WAIT_BUYER_PAY" && $trade.cancel_status == "NO_APPLY_CANCEL"}>
                        <div class="m-voucher-bottom shopex-clearfix">
                    <span class="shopex-pull-left">
                        <a class="shopex-btn shopex-btn-outlined bbc-btn-outlined bbc-btn-sm shopex-linkto" href="<{url action=topwap_ctl_member_offlinepay@cancel tid=$trade.tid}>"><{t}>取消订单<{/t}></a>
                    </span>
                            <span class="shopex-pull-right">
                            <a class="shopex-btn shopex-btn-warning shopex-btn-yellow  bbc-btn-sm trade-pay" href="javascript:void(0);" data-href="<{url action=topwap_ctl_offlinepay_pay@createPay}>" data-tid="<{$trade.tid}>"><{t}>去付款<{/t}></a>
                    </span>
                        </div>
                        <{/if}>
                    </li>
                    <{/foreach}>
                </ul>
            </div>
        </div>
    </div>
    <{/if}>
</body>
<script type="text/javascript">
    function refresh_tap_tap()
    {
        $('li').find('.offline_trade').unbind();
        $('li').find('.offline_trade').on('tap',function(){
            $(this).next('.payInfo-coupon').toggle();
            $(this).find("img").toggleClass("ns-active");
        });

        $(".trade-pay").unbind();
        $(".trade-pay").on('tap',function(e){
            e.detail.gesture.preventDefault();
            var url = $(this).data('href');
            var tid = $(this).data('tid');
            $.post(url, {tid: tid}, function(rs){
                if( rs.error ){
                    shopex.alert(rs.message);
                }
                if(rs.redirect) {
                    location.href = rs.redirect;
                }
            })
        });
    }
    refresh_tap_tap();
    var count = 1;
    var totalpage = "<{$total_page}>";
    var listwrapper = $('.payInfo-list').find('ul');

    shopex.init({
        swipeBack: false,
        pullRefresh: {
            container: '#pullrefresh',
            down: {
                height:10,//可选,默认50.触发下拉刷新拖动距离,
                callback: pulldownRefresh
            },
            up: {
                contentrefresh: '正在加载...',
                callback: pullupRefresh
            }
        },
        swipe: true,
        dobluetap: true,
        longtap: true
    });

    /**
     * 下拉刷新具体业务实现
     */
    function pulldownRefresh() {
        setTimeout(function() {
            count = 1;
            var param = {
                'page_no': count,
            }
            getList(param, function(rs) {
                if(rs.success)
                {
                    listwrapper.html(rs.html);
                    shopex('#pullrefresh').pullRefresh().endPulldownToRefresh(true);
                    shopex('#pullrefresh').pullRefresh().refresh(true);
                }
            });
        }, 1000);
    }
    /**
     * 上拉加载具体业务实现
     */
    function pullupRefresh() {
        setTimeout(function() {
            shopex('#pullrefresh').pullRefresh().endPullupToRefresh((++count > totalpage)); //参数为true代表没有更多数据了。
            if(count > totalpage)
            {
                return false;
            }
            var param = {
                'page_no': count,
            }
            getList(param, function(rs) {
                if(rs.success)
                {
                    listwrapper.append(rs.html);
                    shopex('#pullrefresh').pullRefresh().endPulldownToRefresh()
                }
            });
        }, 1000);
    }

    function getList(param, callback) {
        $.ajax({
            url: '<{url action=topwap_ctl_member_offlinepay@ajaxGetOfflineTrade}>',
            type: 'get',
            dataType: 'json',
            data: param,
            success: callback
        });
    };
</script>
</html>