<aside class="control-sidebar control-sidebar-light" style="height: 100%;">
  <!-- Create the tabs -->
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li class=""><a href="#">筛选</a></li>
    <li class=""><a href="#" data-toggle="control-sidebar"><i class="glyphicon glyphicon-remove"></i></a></li>
  </ul>
      <!-- Tab panes -->
  <div class="tab-content">
    <div class="form-group">
      <label>账期时间</label>
      <div class="input-group">
        <input type="text" class="form-control pull-right reservation" name="timearea" id="timearea" value="<{$timearea}>">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
      </div>
      <div class="input-group">
        <label>对比状态</label>
        <select name="post_fee_compare_status" class="form-control select-reset" id="post_fee_compare_status">
          <option value="UN_CHECKED" <{if $post_fee_compare_status == 'UN_CHECKED'}> selected <{/if}>>未对比</option>
          <option value="CHECKED_SUCC" <{if $post_fee_compare_status =='CHECKED_SUCC'}> selected <{/if}>>对比成功</option>
          <option value="CHECKED_FAIL" <{if $post_fee_compare_status =='CHECKED_FAIL'}> selected <{/if}>>对比失败</option>
        </select>
      </div>
    </div>
    <div class="box-footer">
      <button type="button" class="btn btn-default" id="reset-form">重置</button>
      <a href="javascript:void(0);" id="post_fee_search" class="btn btn-primary pull-right">查询</a>
    </div>
  </div>
</aside>
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="mailbox-controls with-border">
        <div class="box-header">
          <a  data-href="<{url action=topshop_ctl_export_ctpostfee@exportPostFee}>" onclick="exportPostFee(this)"  class="btn btn-primary btn-sm">
            <i class="glyphicon glyphicon-export"></i>
            导出
          </a>
          <a  href="<{url action=topshop_ctl_import_ctpostfee@view}>" data-app="syslogistics" data-model="delivery_aggregation" class="btn btn-primary btn-sm export-filter-btn export-filter-settlement">
            <i class="glyphicon glyphicon-export"></i>
            导入对比
          </a>
          <button data-toggle="control-sidebar" class="btn btn-default btn-sm pull-right">
            <div class="text-light-blue">
              <i class="fa fa-search"></i>
              搜索
            </div>
          </button>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>聚合id</th>
            <th>物流单号</th>
            <th>预估运费</th>
            <th>实收运费</th>
            <th>对比状态</th>
          </tr>
        </thead>
        <tbody>
           <{foreach from=$data item=item}>
            <tr>
              <td><{$item.aggregation_id}></td>
              <td><{$item.logi_no}></td>
              <td><{$item.estimate_freight}></td>
              <td><{$item.real_freight}></td>
              <td>
                <{if $item.post_fee_compare_status == 'UN_CHECKED'}>
                未对比
                <{elseif $item.post_fee_compare_status == 'CHECKED_SUCC'}>
                对比成功
                <{else $item.post_fee_compare_status == 'CHECKED_FAIL'}>
                对比失败
                <{/if}>
              </td>
            </tr>
            <{/foreach}>
        </tbody>
      </table>
      <div class="text-right">
        <{pagers data=$pagers}>
        <{if $count > 0}>
        <span class="page-number">共&nbsp;<em class="text-aqua"><{$count}></em>&nbsp;条记录</span>
        <{/if}>
      </div>
      <{if !$data}>
      <div class="help-block text-center"><{t}>暂无数据<{/t}></div>
      <{/if}>
    </div>
  </div>
</div>
<span class="export-filter" data-value="" data-app="" data-model=""></span>
<script>
  $('.report input[type=radio]:checked').trigger('change');
  $('.reservation').daterangepicker({
      format: 'YYYY/MM/DD',
      opens: 'right'
  });
  $('.reservation').val('');

  $("#post_fee_search").click(function() {
      var timearea=$("#timearea").val();
      var post_fee_compare_status = $('#post_fee_compare_status').val();

      window.location.href="<{url action=topshop_ctl_clearing_chengtong_settlement@postFeeDetail}>?timearea="+timearea+"&post_fee_compare_status="+post_fee_compare_status;
  });

  $(document).ready(
      function() {
          $(".sidebar .sidebar-menu li a i.glyphicon").eq(1).removeClass("glyphicon-list-alt").addClass("glyphicon-cloud");
      }
  );
  $('.export-filter-btn').click(function (e) {
      e.preventDefault();
      var url = $(this).attr('href');
      var app = $(this).data('app');
      var model = $(this).data('model');

      $('.export-filter').attr('data-app',app);
      $('.export-filter').attr('data-model',model);

      $('#exportDialog').modal({remote: url}).attr('data-app',app).attr('data-model',model);

      var timearea = $('#timearea').val();
      var post_fee_compare_status = $('#post_fee_compare_status').val();
      var filter = '{"timearea":"'+timearea+'","post_fee_compare_status":"' + post_fee_compare_status+'"}';
      $('.export-filter').attr('data-value',filter);
  });

  // 重置表单
  $('#reset-form').on('click',function(){
      $('input:visible').val('');
      $('.select-reset').val(-1);
  });

  //导出
  function exportPostFee()
  {
      var timearea = "<{$timearea}>";
      var post_fee_compare_status = $('#post_fee_compare_status').val();
      window.open("<{url action=topshop_ctl_export_ctpostfee@exportPostFee}>?timearea="+timearea+"&post_fee_compare_status="+post_fee_compare_status);
  }
</script>

