<{include file="topwap/activityvote/header.html" }>
<script>
    shopex.init();
</script>
<style type="text/css">
    .rules_v2{width: 100%;height: 100%;background: url(/app/topwap/statics/vote/img/bg_rulesV2.png) repeat-y 0 0;background-size: 100% 100%;position: fixed;top: 0;left:0;padding: 0 20px 0 30px;overflow: auto}
    .rules_v2 h3{font-size: 20px;font-weight: normal;text-align: center;margin: 57px 0 38px 0;}
    .rules_v2 p{line-height: 24px;color: #666;margin: 0;font-size: 1rem;}
</style>
<div class="shopex-content rules_v2">
    <h3>【活动规则】</h3>
    <{$rule_content}>
</div>