<{if $widget.params.item_info}>
<div class="food-container floor" id="<{$widget.widgets_id}>">
    <a href="<{$widget.params.link0}>">
        <img class="banner-container" src="<{$widget.params.topimg|storager:m}>">
    </a>

    <h1>
        <span class="line"></span><{$widget.params.floorname}>
        <{if $widget.params.link3}>
        <a href="<{$widget.params.link3}>" class="more">MORE 更多商品
            <i></i>
        </a>
        <{/if}>
    </h1>
    <div class="food-container-first">
        <div class="main-pics">
            <{if $widget.params.leftimg1}>
            <a href="<{$widget.params.link1}>">
                <img class="main-pic" src="<{$widget.params.leftimg1|storager:m}>">
            </a>
            <{/if}>
            <{if $widget.params.leftimg2}>
            <a href="<{$widget.params.link2}>">
                <img class="main-pic mt10" src="<{$widget.params.leftimg2|storager:m}>">
            </a>
            <{/if}>
        </div>
        <ul class="recommend-one-banner recommend-banner recommend-common-banner">
            <{foreach from=$widget.params.item_info item=iteminfo}>
            <li>
                <a href="<{url action=topshop_ctl_mall_detail@index item_id=$iteminfo.item_id}>" class="recommend-common-a">
                    <div class="thumb">
                        <img data-src="<{$iteminfo.image_default_id|storager:m}>">
                        <div class="discount">
                            <div class="num"><{$iteminfo.profit}>%</div>
                            <div>毛利率</div>
                        </div>
                    </div>

                    <div class="floridian">
                        <{if $iteminfo.shop_id == $login_shop.shop_id}>
                        <img src="/app/topshop/mall/statics/images/details/shop.png" alt="">
                        <{elseif $iteminfo.sell_out <= 0}>
                        <img src="/app/topshop/mall/statics/images/details/floridian.png" alt="">
                        <{elseif in_array($iteminfo.item_id, $initItemsId)}>
                        <img src="/app/topshop/mall/statics/images/details/opt.png" alt="">
                        <{/if}>
                    </div>
                    <div class="des">
                        <div class="title"><{$iteminfo.title}></div>
                        <div class="channel"><{$iteminfo.shop_name}></div>
                        <div class="now-price">供货价：
                            <i>¥<{$iteminfo.supply_price}></i>
                        </div>
                        <div class="before-price">指导售价：
                            <i>¥<{$iteminfo.price}></i>
                        </div>
                    </div>
                </a>

                <{if $iteminfo.shop_id == $login_shop.shop_id}>
                <div class="oversale"><i></i>本店铺商品</div>
                <{elseif $iteminfo.sell_out <= 0}>
                <div class="oversale"><i></i>已售罄</div>
                <{elseif in_array($iteminfo.item_id, $initItemsId)}>
                <div class="oversale"><i></i>已优选</div>
                <{else}>
                <div class="putaway" data-id="<{$iteminfo.item_id}>">
                    <a href="#"><i></i>优选上架</a>
                </div>
                <{/if}>

            </li>
            <{/foreach}>
        </ul>
    </div>
</div>
<{/if}>
