<form  action="<{url action=topshop_ctl_point_sign@save}>" method="post" class="form-horizontal clearfix" data-validate-onsuccess="ajaxSubmit" role="form">
  <input type='hidden' name='id' value="<{$id}>">

  <div class="panel panel-default">
    <div class="panel-heading">积分设置</div>
    <div class="panel-body">

     <!-- <div class="form-group">
          <label class="col-sm-2 control-label">规则描述：</label>
          <div class="col-sm-10">
          <textarea name="role_desc" rows="3" style="resize: none;" class="form-control" placeholder="您可以自定义优惠规则描述，若不填写，将会通过促销规则自动生成。最多50个字。"><{$fulldiscount_desc}></textarea>
          </div>
      </div>-->
	  <div class="form-group">
		<label for="" class="col-sm-2 control-label">开启签到：</label>
		<div class="col-sm-2">
		  <label><input type="radio" name="open" value="on" <{if $open=='on'}>checked<{/if}>>是</label>
		  <label><input type="radio" name="open" value="off"  <{if $open=='off'}>checked<{/if}>>否</label>
		</div>
	  </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">签到积分：</label>
        <div class="col-sm-2">
          <input type="number" required min="1" name="checkin_points" value="<{$checkin_points}>" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">连续签到天数：</label>
        <div class="col-sm-2">
          <input type="number" required min="1" name="continuous_days" value="<{$continuous_days}>" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">连续签到获得最大积分：</label>
        <div class="col-sm-2">
          <input type="number" required min="1" name="max_points" value="<{$max_points}>" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">注册送积分：</label>
        <div class="col-sm-2">
          <input type="number" required min="0" name="register_send_point" value="<{$register_send_point}>" class="form-control">
          <span class="help-block"></span>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-lg btn-block action-save">保存</button>
    </div>
    <div class="col-md-2">
        <a href="<{url action=topshop_ctl_promotion_fulldiscount@list_fulldiscount}>"><button type="button" class="btn btn-default btn-lg btn-block action-cancel">取消</button></a>
    </div>
  </div>
</form>
<script>

function ajaxSubmit (e) {
  var form = e.target;
  e.preventDefault();
  $.post(form.action, $(form).serialize(), function(rs) {
    if(rs.error) {
      $('#messagebox').message(rs.message);
      return;
    }
    if(rs.success) {
      $('#messagebox').message(rs.message, 'success');
    }
    if(rs.redirect) {
      location.href = rs.redirect;
    }
  });
}





$('.action-save').click(function(e) {
    added.find('.action-checkitem').prop('checked', true);
});


</script>
