<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/app/topmaker/statics/ticket/lib/common/public.css">
    <link rel="stylesheet" href="/app/topmaker/statics/ticket/lib/ydui/css/ydui.css">
    <link rel="stylesheet" href="/app/topmaker/statics/ticket/lib/mescroll/mescroll.min.css">
    <link rel="stylesheet" href="/app/topmaker/statics/ticket/css/withdrawlist.css">
    <title>提现流水</title>
    <script src="/app/topmaker/statics/ticket/lib/common/flexible.js"></script>
</head>

<body>
    <div class="withdrawlist mescroll" id="mescroll">
        <ul id="dataList">
            <!--<li class="list">
                <div class="list-left">
                    <p class="state yellow">提现中</p>
                    <p class="time">2019-08-01 11：23</p>
                </div>
                <p class="list-right">200.00</p>
            </li>
            <li class="list">
                <div class="list-left">
                    <p class="state green">提现成功</p>
                    <p class="time">2019-08-01 11：23</p>
                </div>
                <p class="list-right">200.00</p>
            </li>
            <li class="list">
                <div class="list-left">
                    <p class="state red">提现失败</p>
                    <p class="time">2019-08-01 11：23</p>
                </div>
                <p class="list-right">200.00</p>
            </li>-->
        </ul>
    </div>

    <script src="/app/topmaker/statics/ticket/lib/jquery/jquery-3.3.0.min.js"></script>
    <script src="/app/topmaker/statics/ticket/lib/ydui/js/ydui.js"></script>
    <script src="/app/topmaker/statics/ticket/lib/mescroll/mescroll.min.js"></script>
    <script>
        $(function () {
            // 加载
            var mescroll = new MeScroll("mescroll", {
                down: {
                    offset: 40
                },
                up: {
                    page: { size: 10 },//每次加载1条数据,模拟loadFull
                    loadFull: {
                        use: true, //列表数据过少,不足以滑动触发上拉加载,是否自动加载下一页,直到满屏或者无更多数据为止;默认false,因为可通过调高page.size避免这个情况
                        delay: 500 //延时执行的毫秒数; 延时是为了保证列表数据或占位的图片都已初始化完成,且下拉刷新上拉加载中区域动画已执行完毕;
                    },
                    noMoreSize: 1,
                    clearEmptyId: "dataList", //1.下拉刷新时会自动先清空此列表,再加入数据; 2.无任何数据时会在此列表自动提示空
                    callback: getListData //上拉回调,此处可简写; 相当于 callback: function (page) { getListData(page); }
                }
            });

            function getListData(page) {

                //console.log("page.num==" + page.num);
                getListDataFromNet(page.num, page.size, function (data) {
                    console.log(data.length);
                    mescroll.endSuccess(data.length);
                    setListdom(data);
                }, function () {
                    mescroll.endErr();
                })
            }
            function setListdom(data) {
                console.log(data);
                var str = ''
                for (var i = 0; i < data.length; i++) {
                    str += '<li class="list">';
                    str += '<div class="list-left">';
                    if(data[i].status=='success'){
                        str += '<p class="state green">提现成功</p>';
                    }else if(data[i].status=='pending'){
                        str += '<p class="state yellow">提现中</p>';
                    }else if(data[i].status=='refuse'){
                        str += '<p class="state red">提现失败</p>';
                    }
                    str += '<p class="time">'+data[i].create_time+'</p>';
                    str += '</div>';
                    str += '<p class="list-right">'+data[i].payment+'</p>';
                    str += '</li>';
                }
                $('#dataList').append(str)

            }
            function getListDataFromNet(pageNum, pageSize, successCB, errorCB) {
                setTimeout(function () {
                    $.ajax({
                        type: "post",
                        url: "<{url action=topmaker_ctl_cash@ajaxGetCashList}>",
                        async: true,
						data:{pages:pageNum,page_size:pageSize},
                        dataType: 'json',
                        success: function (res) {
                            var listData = [];
                            //console.log(res.result.commentList.length);
                            /*if (res.result.commentList != '') {
                                //此处为模拟接口
                                for (var i = (pageNum - 1) * pageSize; i < pageNum * pageSize; i++) {
                                    console.log((i + 1) == res.result.commentList.length);
                                    console.log(listData)
                                    if (i == res.result.commentList.length) break;
                                    listData.push(res.result.commentList[i]);
                                }
                                //分页数据可用以下循环
                                // for (var i = 0; i < res.result.commentList.length; i++) {
                                //     listData.push(res.result.commentList[i]);
                                // }
                            }*/
							listData=res;
                            successCB(listData);
                        },
                        error: errorCB
                    });
                }, 500)
            }

        });
    </script>
</body>

</html>